<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="goback" (click)="goBack()">
			<img src="./assets/media/icons/backBtn.svg" alt="">
			<span>Back</span>
		</div>
		<form [formGroup]="assetForm">
			<div class="form-group">
				<div class="row">
					<div class="col-lg-12">
						<div class="form-item">
							<label class="label">form name</label>
							<input type="text" placeholder="Enter form name" formControlName="name">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-item">
							<label for="title" class="label">Form elements</label>
							<select (change)="handleFormChange($event)">
								<option value="" selected="true">Select element</option>
								<option [value]="type.id" *ngFor="let type of formTypes;">{{type.name}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="form-group">
			<div class="row">
				<div class="col-lg-6">
					<div class="form-item">
						<label for="title" class="label">Custom form name</label>
						<input type="text" [(ngModel)]="customName" placeholder="Enter custom name" />
					</div>
				</div>
				<div class="col-lg-4">
					<div class="form-item">
						<label for="title" class="label">Form type</label>
						<select (change)="passValue($event)">
							<option value="{{customType}}" *ngFor="let customType of customTypes;">
								{{customType | titlecase}}
							</option>
						</select>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-item">
						<label for="title" class="label">&nbsp;</label>
						<button class="btn btn-sm btn-primary mt-1" (click)="createCustom()">Submit</button>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group mt-3">
			<div class="users-list" *ngIf="myForms && myForms.length > 0">
				<div class="each-user" *ngFor="let type of myForms; let i = index;">
					<div class="name">
						<img src="./assets/media/icons/details-icon.svg" alt="">
						{{type.name | titlecase}}
					</div>
					<div class="action ml-4" (click)="formRemove(type)">
						<img src="./assets/media/icons/delete-close.svg" alt="">
					</div>
				</div>
			</div> 
		</div>
		<div class="form-group">
			<div class="default-fields">Default fields</div>
			<div class="users-list">
				<div class="each-user" *ngFor="let type of compulsoryFields; let i = index;">
					<div class="name">
						<img src="./assets/media/icons/details-icon.svg" alt="">
						{{type.name | titlecase}}
					</div>
					<div class="action ml-4">&nbsp;</div>
				</div>
			</div>
		</div>
		<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
			(close)="onAlertClose($event)">
			Oops! Form is not filled correctly. Change a few things up and try submitting again.
		</kt-alert>
		<div class="form-submit mt-5 mb-4">
			<button class="reset" (click)="reset()">Reset</button>
			<button class="submit" (click)="onSubmit()">Submit</button>
		</div>
	</kt-portlet-body>
</kt-portlet>