.lead-body {
	.hide {
		display: none;
	}
	.color-black {
		color: #333;
	}
	.section-title {
		color: #555;
		font-size: 1.125rem;
		font-weight: 400;
	}
	.section-supertitle {
		color: #333;
		font-size: 1.25rem;
		font-weight: 500;
	}
	.details-table {
		padding: 2rem;
		// border-right: 0.05rem solid #495dbe;
		// border-left: 0.05rem solid #495dbe;
	}
	.form-body {
		&.with-flex {
			display: flex;
			justify-content: space-around;
			width: 90%;
		}
		width: 80%;
		margin: auto;
		@media(min-width: 992px ) {
			width: 80%;
		}
	}
	.notes-added {
		.proceeding {
			color: #555;
			padding: 2rem 1rem;
			box-shadow: 1px 2px 5px rgb(212, 212, 212);
			width: 90%;
			margin: 2rem auto;
			.others {
				display: flex;
				.label {
					color: #333;
					width: 6rem;
				}
				.value {
					margin-left: 1rem;
					color: #555;
					a {
						color: rgb(0, 106, 206);
						text-decoration: none;
					}
				}
			}
		}
	}
	.stage-history {
		table {
			width: 100%;
		}
	}
}

.slide-in {
position: relative;
animation: slideIn 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideIn {
from {
	transform: translateY(1rem);
}
to {
	transform: translateY(0);
}
}
