<kt-portlet>
	<kt-portlet-header [title]="pageTitle" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<div class="details-action edit text-center" routerLink="/cdash/assets/new-asset-data/details/{{assetDataId}}">
				<img src="./assets/media/icons/details-edit.svg" alt="">
				<span>Edit</span>
			</div>
			<div class="details-action delete text-center" (click)="onDelete()">
				<img src="./assets/media/icons/details-delete.svg" alt="">
				<span>Delete</span> 
			</div>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="goback" (click)="goBack()">
			<img src="./assets/media/icons/backBtn.svg" alt="">
			<span>Back</span>
		</div>
		<div class="lead-body" *ngIf="assetDetails">
			<div class="item-details maxed pt-0 pb-5">
				<table class="ml-5 details-table">
					<tr class="each-data" *ngIf="assetDetails.name">
						<td class="label">Name/ Title</td>
						<td class="value">{{assetDetails.name}}</td>
					</tr>
					<tr class="each-data" *ngIf="assetDetails.projected_cost">
						<td class="label">Projected cost</td>
						<td class="value">{{assetDetails.projected_cost | currency : currency}}</td>
					</tr>
					<tr class="each-data" *ngIf="assetDetails.icon">
						<td class="label">Icon</td>
						<td class="images smallz">
							<img src="{{assetDetails.icon}}" alt="{{assetDetails.name}}'s icon'">
						</td>
					</tr>
					<tr class="each-data" *ngIf="assetDetails.summary">
						<td class="label">Summary</td>
						<td class="value">{{assetDetails.summary}}</td>
					</tr>
					<tr class="each-data" *ngIf="assetDetails.date_acquired">
						<td class="label">Date acquired</td>
						<td class="value">{{assetDetails.date_acquired | date: 'longDate'}}</td>
					</tr>
					<tr class="each-data" *ngIf="assetDetails.cost">
						<td class="label">Acquisition cost</td>
						<td class="value">{{assetDetails.cost | currency : currency}}</td>
					</tr>
					<tr class="each-data" *ngIf="assetDetails.depreciation">
						<td class="label">Depreciation per annum</td>
						<td class="value">{{assetDetails.depreciation | currency : currency}}</td>
					</tr>
					<tr class="each-data" *ngIf="assetDetails.business_purpose">
						<td class="label">Business purpose</td>
						<td class="value">{{assetDetails.business_purpose}}</td>
					</tr>
					<tr class="each-data" *ngIf="assetDetails.type">
						<td class="label">Type</td>
						<td class="value">{{assetDetails.type}}</td>
					</tr>
					<tr class="each-data" *ngIf="assetDetails.business_owners">
						<td class="label">Business owners</td>
						<td class="value staffs"><span *ngFor="let staff of allStaffs" class="staff" routerLink="/cdash/users/staffs/{{staff._id}}">{{staff.name}}</span></td>
					</tr>
					<tr class="each-data" *ngIf="assetDetails.industrial_link">
						<td class="label">Industrial link</td>
						<td class="value">
							<img src="{{assetDetails.industrial_link}}" alt="{{assetDetails.name}}'s industrial link">
						</td>
					</tr>
					<tr class="each-data" *ngIf="assetDetails.diagram">
						<td class="label">Diagram/ Schematics</td>
						<td class="value">
							<img src="{{assetDetails.industrial_link}}" alt="{{assetDetails.name}}'s industrial link">
						</td>
					</tr>
					<tr class="each-data" *ngIf="assetDetails.technical_details">
						<td class="label">Technical details</td>
						<td class="value">{{assetDetails.technical_details}}</td>
					</tr>
					<tr class="each-data" *ngIf="assetDetails.location_of_deployment">
						<td class="label">Location of deployment</td>
						<td class="value">{{assetDetails.location_of_deployment}}</td>
					</tr>
				</table>
			</div>
			<div *ngIf="!assetDetails" class="mt-5 please-data text-center">Please Wait...</div>
		</div>
	</kt-portlet-body>
</kt-portlet>