.images.smallz {
	img {
		width: 120px;
	}
}
.staffs {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	font-weight: 600;
	.staff {
		color: #5d78ff;
		display: block;
		margin:  0.5rem 1rem;
		cursor: pointer;
	}
}