<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<!-- <ng-container ktPortletTools>

			<a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()"
				[disabled]="selectedTab !== 0" mat-raised-button matTooltip="Reset changes">
				<i class="la la-cog"></i>
				<span class="kt-hidden-mobile">Reset</span>
			</a>
			<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSubmit()"
				mat-raised-button matTooltip="Save & Continue">
				<i class="la la-check-circle-o"></i>
				<span class="kt-hidden-mobile">Save</span>
			</a>
		</ng-container> -->
	</kt-portlet-header>
	<kt-portlet-body>
		<form [formGroup]="claimForm">
			<div class="form-group">
				<div class="row">
					<div class="col-lg-12">
						<div class="form-item">
							<label class="label">Name</label>
							<input type="text" placeholder="Add claim name" formControlName="name" required>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-item">
							<label class="label">Approval flow</label>
							<select formControlName="claim_type_id" required>
								<option value="">Select approval flow</option>
								<option *ngFor="let type of types;" value="{{type._id}}">USER >>>
									{{type.roles.join(' >>> ')}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
				(close)="onAlertClose($event)">
				Oops! Form is not filled correctly. Change a few things up and try submitting again.
			</kt-alert>
			<div class="form-submit mt-3 mb-4">
				<button class="reset" (click)="reset()">Reset</button>
				<button class="submit" (click)="onSubmit()">Submit</button>
			</div>
		</form>
	</kt-portlet-body>
</kt-portlet>
