:host {
	::ng-deep {
		ngb-tabset > .nav-tabs {
			display: none;
		}
	}
}

.cards {
	width: 100%;
	.card {
		padding: 2rem;
		box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
		.value {
			font-size: 3rem;
			font-weight: 600;
			letter-spacing: 0.25rem;
			margin-bottom: 1rem;
			color: #777;
		}
		.tag {
			color: #222;
			font-size: 1.25rem;
		}
	}
}
.section-title {
	color: #464457;
	font-size: 1.2rem;
	font-weight: 500;
	padding: 1.5rem 1rem;
	border-bottom: 1px solid #ebedf2;
	border-top: 1px solid #ebedf2;
	background: #fff;
}
.white-bg {
	background-color: #fff;
	padding: 2rem;
	color: #333;
}

.each-stat {
	font-family: "Poppins";
	margin: 0 1rem 1rem 0;
	.top-header {
		background-color: #fafafa;
		padding: 1.2rem 1.5rem;
		width: 100%;
		display: flex;
		justify-content: space-between;
		.title {
			display: flex;
			justify-content: space-between;
			img {
				display: block;
				width: 1.25rem;
				height: 1.25rem;
				margin-right: 1rem;
			}
			span {
				display: block;
				color: #1b1b28;
				font-size: 1rem;
    			font-weight: 500;
			}
		}
		.link {
			font-size: 0.875rem;
			font-weight: 500;
			color: #5d78ff;
			&:hover {
				cursor: pointer;
				color: #2346f5;
			}
		}
	}
	.chart {
		background-color: #ffffff;
		padding: 1.25rem;
	}
}
.hoverable {
	&:hover {
		cursor: pointer;
	}
}
.position-8 {
	position: relative;
	bottom: 0.8rem;
}
.drop-down {
	padding: 1.5rem 0 0;
    display: flex;
    color: #333;
	font-weight: 500;
	margin-bottom: 1rem;
	&:hover {
		cursor: pointer;
	}
	img {
		display: block;
		margin-left: 0.15rem;
	}
}
.ddown {
	border: none;
    font-weight: 300;
    background-color: #ebeef5;
    height: 26px;
    position: relative;
	bottom: 0.35rem;
}

.player {
    width: 180px;
    height: 180px;
    // background: #eee;
    position: relative;
    border-radius: 50%;
    overflow: visible;
	margin: 0.75rem auto;
	.progress {
		background-color: unset !important;
	}
}

.player:hover {
    opacity: .8;
}

.left-side {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border-radius: 50%;    
    border: 0.875rem solid #4beade;
    border-left-color: transparent;
    border-bottom-color: transparent;
	transform: rotate(225deg) !important;
	&.one {border: 0.875rem solid rgb(189, 51, 189);}
	&.two {border: 0.875rem solid #1F7772;}
	&.three {border: 0.875rem solid rgb(55, 172, 65);}
	&.four {border: 0.875rem solid #2900e2;}
	&.five {border: 0.875rem solid #FFC107;}
}

.left-side.fill {
    border-color: transparent;
    border-left-color: #4beade;
    border-bottom-color: #4beade;
}

.right-side {
    transform: rotate(45deg);
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border-radius: 50%;    
    border: 0.875rem solid #4beade;
    border-left-color: #eee;
	border-bottom-color: #eee;
	&.one {border: 0.875rem solid #3F51B5;}
	&.two {border: 0.875rem solid #1F7772;}
	&.three {border: 0.875rem solid #CDDC39;}
	&.four {border: 0.875rem solid #2900e2;}
	&.five {border: 0.875rem solid #FFC107;}
}

.player-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #555;
  font-weight: 600;
  font-size: 1rem;
}

// .player-title {
//     position: absolute;
//     left: 0; right: 0;
//     top: calc(50% + 55px);
//     text-align: center;
//     color: #999;
// }