<kt-portlet>
	<kt-portlet-header title="Social Accounts" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<!-- <a routerLink="/cdash/socials/manage/social" class="primary-button kt-margin-r-10" matTooltip="Add social media">
				<i class="la la-cog"></i>
				<span class="kt-hidden-mobile">Configure social network</span>
			</a> -->
			<div routerLink="/cdash/socials/manage/social" class="details-action edit text-center" [matMenuTriggerFor]="menu">
				<i class="la la-cog"></i>
				&nbsp;
				<span>Configure social network</span>
			</div>
			<div class="details-action approve text-center" [matMenuTriggerFor]="menu">
				<i class="la la-plus"></i>
				&nbsp;
				<span>Add social account</span>
			</div>
			<mat-menu #menu="matMenu">
				<button mat-menu-item (click)="signInWithFB()">Facebook</button>
				<button mat-menu-item (click)="initLinkedIn()">LinkedIn</button>
				<button mat-menu-item routerLink="/cdash/socials/manage/social/instagram">Instagram</button>
				<a mat-menu-item (click)="initTwitterr()">Twitter</a>
			</mat-menu>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="stage-history">
			<table class="table-view">
				<thead>
					<tr>
						<th>Account name</th>
						<th>Account type</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr className="each-row" *ngFor="let account of socialls">
						<td>{{account.data.screen_name ? account.data.screen_name : account.data.name || account.data.username || (account.data.firstName + ' ' + account.data.lastName)}}</td>
						<td class="status">
							<span class="leadInitiated">{{account.type}}</span>
						</td>
						<td><a routerLink="/cdash/socials/{{account._id}}" class="view">View</a></td>
					</tr>
				</tbody>
			</table>
		</div>

	</kt-portlet-body>
</kt-portlet>