<kt-portlet>
	<kt-portlet-header title="Social Accounts" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a routerLink="/cdash/socials/manage/social" class="primary-button kt-margin-r-10" matTooltip="Add social media">
				<i class="la la-plus"></i>
				<span class="kt-hidden-mobile">Add social media</span>
			</a>
			<div class="details-action approve text-center" [matMenuTriggerFor]="menu">
				<img src="./assets/media/icons/button-down.svg" alt="">
				&nbsp;
				<span>Signin</span>
			</div>
			<mat-menu #menu="matMenu">
				<button mat-menu-item (click)="signInWithFB()">Facebook</button>
				<a href="{{validTwitter ? validURL : ''}}" mat-menu-item (click)="initTwitterr()">Twitter</a>
			</mat-menu>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="stage-history">
			<table class="table-view">
				<thead>
					<tr>
						<th>Account name</th>
						<th>Account type</th>
						<th>Others</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr className="each-row" *ngFor="let account of socialls">
						<td>{{account.data.screen_name ? account.data.screen_name : account.data.name}}</td>
						<td>{{account.type}}</td>
						<td class="status">
							<span class="plain">{{account.data.name ? account.data.name : account.data.email}}</span>
						</td>
						<td><a routerLink="/cdash/socials/{{account._id}}" class="view">View</a></td>
					</tr>
					<!-- <tr className="each-row">
						<td>Twitter</td>
						<td>
							<a href="http://142.93.6.250/v1/social/twitter?url=http://localhost:4200/cdash/socials/socials" class="btn btn-primary btn-md" (click)="initTwitterr()">
								Twitter signin
							</a>
						</td>
						<td><a routerLink="/cdash/socials/twitter" class="view">View details</a></td>
					</tr> -->
					<!-- <tr className="each-row">
						<td>LinkedIn</td>
						<td>
							<button class="btn btn-secondary btn-md" (click)="signInWithFB()">
								LinkedIn signin
							</button>
						</td>
						<td><a routerLink="/cdash/socials/linkedin" class="view">View</a></td>
					</tr> -->
				</tbody>
			</table>
		</div>

	</kt-portlet-body>
</kt-portlet>