<kt-portlet>
	<kt-portlet-header title="Final Approved List" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<!-- <ng-container>
				<div class="details-action edit text-center" [matMenuTriggerFor]="menu">
						<span>Switch list</span>
					</div>
					<mat-menu #menu="matMenu">
						<button mat-menu-item (click)="switchList('loans')">Loans summary</button>
						<button mat-menu-item (click)="switchList('leaves')">Leave summary</button>
						<button mat-menu-item (click)="switchList('claims')">Claim summary</button>
					</mat-menu>
		</ng-container> -->
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="asset-body" *ngIf="approvedClaims">
			<table class="table-view">
				<thead>
					<tr>
						<th>Claim</th>
						<th>Total claim amount</th>
						<th>Updated on</th>
						<!-- <th></th> -->
					</tr>
				</thead>
				<tbody>
					<tr class="each-row" *ngFor="let claim of approvedClaims">
						<td>{{apprLoop[claim.hr_id]}}</td>
						<td>&#8358; {{claim.total ? claim.total : apprAmount[claim.hr_id]}}</td>
						<td> {{claim.created_at | date: 'longDate'}}</td>
						<!-- <td>
							<a routerLink="/strada/hr/claim/{{claim._id}}" class="view">View</a>
						</td> -->
					</tr>
				</tbody>
			</table>
		</div>
		<div *ngIf="!approvedClaims" class="mt-5 please-data text-center">Please wait...</div>

		<div class="my-pagination mt-5 mb-4">
			<div class="pg">Page: <b>{{pageIndex + 1}}</b></div>
			<div class="btn-grp">
				<button mat-raised-button (click)="getPrev()" color="primary" [disabled]="disablePrev">Previous</button>
				<button mat-raised-button (click)="getNext()" color="primary" [disabled]="disableNext">Next</button>
			</div>
		</div>

	</kt-portlet-body>
</kt-portlet>
