<kt-portlet>
	<kt-portlet-header [title]="pageTitle" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<div class="details-action edit text-center" routerLink="/strada/contacts/manage/{{contactId}}">
				<img src="./assets/media/icons/details-edit.svg" alt="">
				<span>Edit</span>
			</div>
			<div class="details-action delete text-center" (click)="onDelete()">
				<img src="./assets/media/icons/details-delete.svg" alt="">
				<span>Delete</span>
			</div>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
			<div class="goback" (click)="goBack()">
					<img src="./assets/media/icons/backBtn.svg" alt="">
					<span>Back</span>
				</div>
		<div class="contact-body" *ngIf="contactDetails">
			<div class="item-details maxed pt-0">
				<table class="ml-5 details-table">
					<tr class="each-data" *ngIf="contactDetails.company">
						<td class="label">Company</td>
						<td class="value">{{ contactDetails.company }}</td>
					</tr>
					<tr class="each-data" >
						<td class="label">Industry</td>
						<td class="value">{{ contactDetails.industry }}</td>
					</tr>
					<tr class="each-data" *ngIf="contactDetails.email">
						<td class="label">Email</td>
						<td class="value"><a href="mailto:{{ contactDetails.email }}">{{ contactDetails.email }}</a>
						</td>
					</tr>
					<tr class="each-data">
						<td class="label">Status</td>
						<td class="value status">
							<span class="plain">{{ contactDetails.status }}</span>
						</td>
					</tr>
					<tr class="each-data" *ngIf="contactDetails.source">
						<td class="label">Source</td>
						<td class="value">{{ contactDetails.source }}</td>
					</tr>
					<tr class="each-data" *ngIf="contactDetails.address">
						<td class="label">Address</td>
						<td class="value">{{ contactDetails.address }}</td>
					</tr>
					<tr class="each-data">
						<td class="label">Created On</td>
						<td class="value">{{ contactDetails.created_at | date: 'medium' }}</td>
					</tr>
					<tr class="each-data">
						<td class="label">Updated On</td>
						<td class="value">{{ contactDetails.updated_at | date: 'medium' }}</td>
					</tr>
					<!-- <tr class="each-data" *ngIf="contactDetails.image">
						<td class="label">Business card / Logo</td>
						<td class="images">
							<img src="{{contactDetails.image}}" alt="Media file">
						</td>
					</tr> -->
				</table>
			</div>
			<div *ngIf="!contactDetails" class="mt-5 please-data text-center">Please Wait...</div>
			<div class="mt-5 mb-3 detail-table-options">
				<div class="menus-cover">
					<div [matMenuTriggerFor]="menu">{{showing}}</div>
					<mat-menu #menu="matMenu">
						<button mat-menu-item (click)="showTable('mous')">MOUs</button>
						<button mat-menu-item (click)="showTable('quotations')">Quotations</button>
					</mat-menu>
				</div>
				<img src="./assets/media/icons/select-arrow.svg" alt="">
			</div>
			<table class="table-view" *ngIf="showing === 'mous'">
				<thead>
					<tr>
						<th>MOU Id</th>
						<th>Quotation amount</th>
						<th>Unit</th>
					</tr>
				</thead>
				<tbody>
					<tr className="each-row" *ngFor="let moudetails of mouList">
						<td>{{ (moudetails.mou.length > 33) ? (moudetails.mou | slice:0:33)+'...' : (moudetails.mou)}}
						</td>
						<td>{{ moudetails.quotation_amount }}</td>
						<td>{{ moudetails.unit ? moudetails.unit : 'not available'}}</td>
					</tr>
				</tbody>
			</table>
			<div class="empty-list text-center" *ngIf="showing === 'mous' && mouList && mouList.length === 0">
				<img src="./assets/media/icons/empty-list.png" alt="">
				<p>No {{showing}} have been sent on this sale</p>
			</div>

			<table class="table-view" *ngIf="showing === 'quotations'">
				<thead>
					<tr>
						<th>Subject</th>
						<th>Body</th>
						<th> Amount</th>
						<th> Unit</th>
						<th> TIN</th>
					</tr>
				</thead>
				<tbody>
					<tr className="each-row" *ngFor="let quotation of quotationsList">
						<td>{{ quotation.subject }}</td>
						<td>{{ quotation.body }}</td>
						<td>{{ quotation.amount }}</td>
						<td>{{ quotation.unit }}</td>
						<td>{{ quotation.tin }}</td>
					</tr>
				</tbody>
			</table>
			<div class="empty-list text-center"
				*ngIf="showing === 'quotations' && quotationsList && quotationsList.length === 0">
				<img src="./assets/media/icons/empty-list.png" alt="">
				<p>No {{showing}} have been sent on this sale</p>
			</div>
			<!-- <h3 class="section-title mt-5 mb-4" *ngIf="mouList && mouList.length > 0;">MOUs List</h3>
			<div class="mat-elevation-z8 mt-5" *ngIf="mouList && mouList.length > 0;">
				<table mat-table [dataSource]="dataSourceMOU" class="w-100">
					<ng-container matColumnDef="MOU">
						<th mat-header-cell *matHeaderCellDef> MOU </th>
						<td mat-cell *matCellDef="let moudetails"> <a href="{{moudetails.mou}}"
								target="_blank">{{ (moudetails.mou.length > 33) ? (moudetails.mou | slice:0:33)+'...' : (moudetails.mou)}}</a>
						</td>
					</ng-container>
					<ng-container matColumnDef="Quotation Amount">
						<th mat-header-cell *matHeaderCellDef> Quotation Amount </th>
						<td mat-cell *matCellDef="let moudetails">&#8358; {{ moudetails.quotation_amount}}</td>
					</ng-container>
					<ng-container matColumnDef="Unit">
						<th mat-header-cell *matHeaderCellDef> Unit </th>
						<td mat-cell *matCellDef="let moudetails">{{ moudetails.unit}}</td>
					</ng-container>
					<tr mat-header-row *matHeaderRowDef="MOUcolumns"></tr>
					<tr mat-row *matRowDef="let row; columns: MOUcolumns;"></tr>
				</table>
			</div> -->
			<!-- <h3 class="section-title mt-5 mb-4" *ngIf="quotationsList">Quotations List</h3>
			<div class="mat-elevation-z8 mt-5" *ngIf="quotationsList && quotationsList.length !== 0">
				<table mat-table [dataSource]="dataSourceQuotation" class="w-100">
					<ng-container matColumnDef="Subject">
						<th mat-header-cell *matHeaderCellDef> Subject </th>
						<td mat-cell *matCellDef="let quoteDetails"> {{quoteDetails.subject}} </td>
					</ng-container>
					<ng-container matColumnDef="Body">
						<th mat-header-cell *matHeaderCellDef> Body </th>
						<td mat-cell *matCellDef="let quoteDetails"> {{quoteDetails.body}} </td>
					</ng-container>
					<ng-container matColumnDef="Amount">
						<th mat-header-cell *matHeaderCellDef> Amount </th>
						<td mat-cell *matCellDef="let quoteDetails">&#8358; {{quoteDetails.amount}} </td>
					</ng-container>
					<ng-container matColumnDef="Unit">
						<th mat-header-cell *matHeaderCellDef> Unit </th>
						<td mat-cell *matCellDef="let quoteDetails">{{ quoteDetails.unit}}</td>
					</ng-container>
					<ng-container matColumnDef="TIN">
						<th mat-header-cell *matHeaderCellDef> TIN </th>
						<td mat-cell *matCellDef="let quoteDetails"> {{quoteDetails.tin}} </td>
					</ng-container>
					<tr mat-header-row *matHeaderRowDef="quotationsColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: quotationsColumns;"></tr>
				</table>
				<div class="empty-list text-center"
				*ngIf="showing === 'invoices' && invoiceList && invoiceList.length === 0">
				<img src="./assets/media/icons/empty-list.png" alt="">
				<p>No {{showing}} have been sent on this sale</p>
			</div>
			</div> -->
		</div>
	</kt-portlet-body>
</kt-portlet>
