<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<form [formGroup]="campaignForm">
			<div class="form-group">
				<div class="row">
					<div class="col-lg-12">
						<div class="form-item">
							<label class="label">Name or title</label>
							<input type="text" placeholder="Enter name or title" formControlName="name" required>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-item">
							<label for="type" class="label">Campaign type</label>
							<select formControlName="type_id">
								<option value="">Select type</option>
								<option value="{{type.name}}" *ngFor="let type of campaignTypes;">{{type.name}}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-item">
							<label class="label">Price</label>
							<input type="number" placeholder="Enter price" formControlName="price" required>
						</div>
					</div>
				</div>
				<div class="row" *ngIf="!idParams">
					<div class="col-lg-12">
						<div class="form-item">
							<label for="lead_id" class="label">Choose client</label>
							<select formControlName="lead_id">
								<option value="">Select client</option>
								<option value="{{lead._id}}" *ngFor="let lead of leads;">{{lead.name}}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-item">
							<label for="status" class="label">Status</label>
							<select formControlName="status">
								<option value="">Select status</option>
								<option value="{{status}}" *ngFor="let status of statuses;">{{status}}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-item">
							<label class="label">Campaign start</label>
							<input type="date" placeholder="Choose a start date" formControlName="start">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-item">
							<label class="label">Campaign ends</label>
							<input type="date" [min]="campaignForm.value.start" placeholder="End date is required"
								formControlName="end" required>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-item">
							<label class="label">Campaign's description</label>
							<textarea placeholder="Enter campaign's description"
								formControlName="description"></textarea>
						</div>
					</div>
				</div>
			</div>
			<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
				(close)="onAlertClose($event)">
				Oops! Form is not filled correctly. Change a few things up and try submitting again.
			</kt-alert>
			<div class="form-submit mt-3 mb-4">
				<button class="reset" (click)="reset()">Reset</button>
				<button class="submit" (click)="onSubmit()">Submit</button>
			</div>
		</form>
	</kt-portlet-body>
</kt-portlet>
