<h2 mat-dialog-title>Assign Head of Department</h2>

<mat-dialog-content>
	<form [formGroup]="form">
		<div class="row">
			<div class="col-lg-12">
				<div class="form-item">
					<label class="label">HODs</label>
					<select>
						<option value="">Select HOD</option>
						<option value="{{type._id}}" *ngFor="let type of users;" (click)="userChanged(type)">{{type.name}}</option>
					</select>
				</div>
			</div>
		</div>
	</form>
</mat-dialog-content>

<div class="form-submit mt-3 mb-4">
	<button class="reset" (click)="close()">close</button>
	<button class="submit" (click)="save()">save</button>
</div>

<!-- <mat-dialog-actions>
	<button mat-raised-button (click)="close()">Close</button>
	<button color="primary" mat-raised-button (click)="save()">Assign</button>
</mat-dialog-actions> -->
