<kt-portlet>
	<kt-portlet-header title="All Meetings" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a routerLink="/strada/meetings/manage" class="primary-button kt-margin-r-10" matTooltip="Add new meeting">
				<i class="la la-plus"></i>
				<span class="kt-hidden-mobile">Create meeting</span>
			</a>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="vendor-body">
			<table class="table-view">
				<thead>
					<tr>
						<th>Client/User</th>
						<th>Start</th>
						<th>Duration</th>
						<th>Description</th>
						<th>Type</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr className="each-row" *ngFor="let meeting of meetings">
						<td>{{ meeting.name }}</td>
						<td class="status">
							<span class="plain">{{meeting.start | date: 'fullDate'}}</span>
						</td>
						<td>{{ meeting.duration }} minutes</td>
						<td>{{(meeting.description.length > 50) ? (meeting.description | slice:0:50)+'...':(meeting.description)}}
						</td>
						<td>{{meeting.type}}</td>
						<td>
							<a routerLink="/strada/meetings/meeting/{{meeting._id}}" class="view">View</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="my-pagination mt-5 mb-4">
			<div class="pg">Page: <b>{{pageIndex + 1}}</b></div>
			<div class="btn-grp">
				<button mat-raised-button (click)="getPrev()" color="primary" [disabled]="disablePrev">Previous</button>
				<button mat-raised-button (click)="getNext()" color="primary" [disabled]="disableNext">Next</button>
			</div>
		</div>

	</kt-portlet-body>
</kt-portlet>
