.form-group {
	width: 95%;
	margin: 1.5rem auto;
	@media(min-width: 992px) {
		width: 40%;
	}
	label {
		font-weight: 500;
	}
}
.instructions {
	font-size: 1.1rem;
	color: #333;
	.instruction {
		margin: 0.4rem 0;
	}
}
.form-items-cover {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	flex-wrap: wrap;
	.form-items {
		width: 45%;
		text-align: left;
	}
}

.la, .las {
	color: #555;
	font-weight: 600;
	&:hover {
		color: #333;
	}
}

.icons-container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	border: 1px solid #97979d;
	padding: 1rem;
	max-height: 400px;
	overflow-x: scroll;
	.icon {
		padding: 0.5rem;
		&:hover {
			cursor: pointer;
			background: #e1e1e1;
		}
	}
}
.selected {
	font-size: 1.5rem;
	position: relative;
	bottom: 0.5rem;
	color: #777;
}