<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<form [formGroup]="staffForm">
			<div class="form-group">
				<div class="row">
					<div class="col-lg-12">
						<div class="form-item">
							<label for="title" class="label">Title</label>
							<select formControlName="title">
								<option value="">Select staff's title</option>
								<option value="{{title}}" *ngFor="let title of titles;">
									{{title}}
								</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-item">
							<label class="label">Full name</label>
							<input type="text" placeholder="Enter full name" formControlName="name">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-item">
							<label class="label">Email address</label>
							<input type="email" placeholder="Enter valid email address" formControlName="email">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-item">
							<label class="label">Phone number</label>
							<input type="tel" placeholder="Enter valid phone number" formControlName="tel">
						</div>
					</div>
				</div> 
				<div class="row">
					<div class="col-lg-12">
						<div class="form-item">
							<label class="label">Post held</label>
							<input type="tel" placeholder="Enter staff's position" formControlName="position">
						</div>
					</div>
				</div> 
				<div class="row">
					<div class="col-lg-12">
						<div class="form-item upload">
							<label class="label" for="upload">
								<img src="./assets/media/icons/upload-all.svg" alt="">
							</label>
							<input type="file" id="upload" (change)="onFileChange($event)" accept="image/*">
							<div class="placeholder" *ngIf="!fileName && !idParams">Upload staff's picture</div>
							<div class="placeholder" *ngIf="!fileName && idParams">Replace staff's picture</div>
							<div class="placeholder slide-in" *ngIf="fileName">{{fileName}}</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-item">
							<label class="label">Date joined</label>
							<input type="date" placeholder="Choose date joined" formControlName="date_joined">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-item">
							<label class="label">Summary</label>
							<textarea placeholder="summary" formControlName="summary"></textarea>
						</div>
					</div>
				</div>
			</div>
			<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
				(close)="onAlertClose($event)">
				Oops! Form is not filled correctly. Change a few things up and try submitting again.
			</kt-alert>
			<div class="form-submit mt-3 mb-4">
				<button class="reset" (click)="reset()">Reset</button>
				<button class="submit" (click)="onSubmit()">Submit</button>
			</div>
		</form>
	</kt-portlet-body>
</kt-portlet>
