<kt-portlet>
	<kt-portlet-header
		[title]="getComponentTitle()"
		[class]="'kt-portlet__head--lg'"
		[viewLoading$]="loading$"
	>
	</kt-portlet-header>
	<kt-portlet-body>
		<form [formGroup]="callLogForm">
				<div class="form-group">
					<div class="row">
						<div class="col-lg-12">
							<div class="form-item">
								<label class="label">Address</label>
								<input type="text" placeholder="Enter full address" formControlName="address">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="form-item">
								<label class="label">Website</label>
								<input type="url" placeholder="Enter website's url" formControlName="website">
							</div>
						</div>
					</div>
					<div class="row">
							<div class="col-lg-12">
								<div class="form-item">
									<label class="label">Email</label>
									<input type="email" placeholder="Enter email address" formControlName="email">
								</div>
							</div>
						</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="form-item">
								<label class="label">Industry</label>
								<select formControlName="industry">
									<option value="">Select industry category</option>
									<option value="{{industry}}" *ngFor="let industry of industries;">{{industry}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="form-item">
								<label class="label">Country</label>
								<select formControlName="country">
									<option value="">Select country</option>
									<option value="{{key}}" *ngFor="let key of objectKeys(countriesObj)">{{countriesObj[key]}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="form-item">
								<label class="label">Description</label>
								<textarea placeholder="Enter description" formControlName="description"></textarea>
							</div>
						</div>
					</div>
				</div>
				<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
					(close)="onAlertClose($event)">
					Oops! Form is not filled correctly. Change a few things up and try submitting again.
				</kt-alert>
				<div class="form-submit mt-3 mb-4">
					<button class="reset" (click)="reset()">Reset</button>
					<button class="submit" (click)="onSubmit()">Submit</button>
				</div>
			</form>
	</kt-portlet-body>
</kt-portlet>
