<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<form [formGroup]="userForm">
			<div class="form-group">
				<div class="row">
					<div class="col-lg-12">
						<div class="form-item">
							<label class="label">Full name</label>
							<input type="text" placeholder="Enter full name" formControlName="name">
						</div>
					</div>
				</div>
				<div class="row" *ngIf="!idParams">
					<div class="col-lg-12">
						<div class="form-item">
							<label class="label">Email address</label>
							<input type="email" placeholder="Enter valid email address" autofill="false" formControlName="email">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-item">
							<label for="title" class="label">User type</label>
							<select formControlName="type">
								<option value="">Select user type</option>
								<option value="{{type.value}}" *ngFor="let type of userTypes;">
									{{type.label}}
								</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-item">
							<label for="title" class="label">User role</label>
							<select formControlName="role">
								<option value="">Select user's role</option>
								<option value="{{role._id}}" *ngFor="let role of roles;">
									{{role.name}}
								</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row" *ngIf="!idParams">
					<div class="col-lg-12">
						<div class="form-item">
							<label class="label">Password</label>
							<input type="password" placeholder="Enter user's password"  autofill="false" formControlName="password">
						</div>
					</div>
				</div>
			</div>
			<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="7000"
				(close)="onAlertClose($event)">
				Oops! Form is not filled correctly. Change a few things up and try submitting again.
			</kt-alert>
			<div class="form-submit mt-3 mb-4">
				<button class="reset" (click)="reset()">Reset</button>
				<button class="submit" (click)="onSubmit()">Submit</button>
			</div>
		</form>
	</kt-portlet-body>
</kt-portlet>
