<kt-portlet>
	<kt-portlet-header title="All Assets" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a routerLink="/cdash/assets/manage/new-asset-data" class="primary-button kt-margin-r-10" matTooltip="Add New Asset">
				<i class="la la-plus"></i>
				<span class="kt-hidden-mobile">Add an asset</span>
			</a>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="goback" (click)="goBack()">
			<img src="./assets/media/icons/backBtn.svg" alt="">
			<span>Back</span>
		</div>
		<div class="asset-body">
			<div class="stage-history">
				<table class="table-view">
					<thead>
						<tr>
							<th>Asset name</th>
							<th>Summary</th>
							<th>Date acquired</th>
							<th>Acquisition cost (₦)</th>
							<th>Acquisition cost ($)</th>
							<th>Business purpose</th>
							<th>Type</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr className="each-row" *ngFor="let asset of assets">
							<td>{{ asset.name }}</td>
							<td>{{ asset.summary ? asset.summary : 'not available' }}</td>
							<td>{{ asset.date_acquired | date: 'longDate'}}</td>
							<td>{{ (asset.cost && asset.cost.naira ? asset.cost.naira : 'not available' ) | currency: naira}}</td>
							<td>{{ (asset.cost && asset.cost.dollar ? asset.cost.dollar : 'not available' ) | currency: ty$sign}}</td>
							<td>{{ asset.business_purpose ? asset.business_purpose : 'not available' }}</td>
							<td class="status">
								<span class="plain">{{ asset.type ? asset.type : 'not available' }}</span>
							</td>
							<td>
								<a routerLink="/cdash/assets/asset-details/{{asset._id}}" class="view">View</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="my-pagination mt-5 mb-4">
			<div class="pg">Page: <b>{{pageIndex + 1}}</b></div>
			<div class="btn-grp">
				<button mat-raised-button (click)="getPrev()" color="primary" [disabled]="disablePrev">Previous</button>
				<button mat-raised-button (click)="getNext()" color="primary" [disabled]="disableNext">Next</button>
			</div>
		</div>

	</kt-portlet-body>
</kt-portlet>
