<kt-portlet>
	<kt-portlet-header [title]="pageTitle" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<div class="details-action edit text-center" routerLink="/strada/calls/manage/{{callId}}">
				<img src="./assets/media/icons/details-edit.svg" alt="">
				<span>Edit</span>
			</div>
			<div class="details-action delete text-center" (click)="onDelete()">
				<img src="./assets/media/icons/details-delete.svg" alt="">
				<span>Delete</span>
			</div>
			<div class="details-action approve text-center" [matMenuTriggerFor]="menu">
				<img src="./assets/media/icons/details-approve.svg" alt="">
				<span>Convert</span>
			</div>
			<mat-menu #menu="matMenu">
				<button mat-menu-item routerLink="/strada/calls/call/{{callId}}/convert-to-lead">To lead</button>
				<button mat-menu-item routerLink="/strada/calls/call/{{callId}}/convert-to-contact">To contact</button>
			</mat-menu>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
			<div class="goback" (click)="goBack()">
					<img src="./assets/media/icons/backBtn.svg" alt="">
					<span>Back</span>
				</div>
		<div class="contact-body" *ngIf="callDetails">
			<div class="item-details maxed pt-0">
				<table class="ml-5 details-table">
					<tr class="each-data">
						<td class="label">Name</td>
						<td class="value status">
							<span class="plain">{{ callDetails.name }}</span>
						</td>
					</tr>
					<tr class="each-data">
						<td class="label">Organization</td>
						<td class="value">{{ callDetails.organization }}</td>
					</tr>
					<tr class="each-data">
						<td class="label">Phone Number</td>
						<td class="value">{{ callDetails.phone }}</td>
					</tr>
					<tr class="each-data">
						<td class="label">Type</td>
						<td class="value">{{ callDetails.type }}</td>
					</tr>
					<tr class="each-data">
						<td class="label">Source</td>
						<td class="value">{{ callDetails.source }}</td>
					</tr>
					<tr class="each-data">
						<td class="label">Updated On</td>
						<td class="value">{{ callDetails.updated_at | date: 'medium' }}</td>
					</tr>
					<tr class="each-data">
						<td class="label">Created On</td>
						<td class="value">{{ callDetails.created_at | date: 'medium' }}</td>
					</tr>
					<tr class="each-data">
						<td class="label">Location</td>
						<td class="value">{{ callDetails.location }}</td>
					</tr>
					<tr class="each-data">
						<td class="label">Remarks</td>
						<td class="value">{{ callDetails.remarks }}</td>
					</tr>
				</table>
			</div>
			<div *ngIf="!callDetails" class="mt-5 please-data text-center">Please Wait...</div>
		</div>
	</kt-portlet-body>
</kt-portlet>
