<kt-portlet>
	<kt-portlet-header [title]="pageTitle" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<div class="details-action edit text-center" routerLink="/strada/assets/manage/{{assetId}}">
				<img src="./assets/media/icons/details-edit.svg" alt="">
				<span>Edit</span>
			</div>
			<div class="details-action delete text-center" (click)="onDelete()">
				<img src="./assets/media/icons/details-delete.svg" alt="">
				<span>Delete</span>
			</div>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
			<div class="goback" (click)="goBack()">
					<img src="./assets/media/icons/backBtn.svg" alt="">
					<span>Back</span>
				</div>
		<div class="contact-body" *ngIf="assetDetails">
			<div class="item-details maxed pt-0">
				<table class="ml-5 details-table">
					<tr class="each-data">
						<td class="label">Name</td>
						<td class="value status">
							<span class="plain">{{ assetDetails.name }}</span>
						</td>
					</tr>
					<tr class="each-data">
						<td class="label">Created On</td>
						<td class="value">{{ assetDetails.created_at | date: 'medium' }}</td>
					</tr>
					<tr class="each-data">
						<td class="label">Updated On</td>
						<td class="value">{{ assetDetails.updated_at | date: 'medium' }}</td>
					</tr>
					<tr class="each-data">
						<td class="label">Start Date</td>
						<td class="value">{{ assetDetails.start | date: 'fullDate' }}</td>
					</tr>
					<tr class="each-data">
						<td class="label">End Date</td>
						<td class="value">{{ assetDetails.end | date: 'fullDate' }}</td>
					</tr>
					<tr class="each-data" *ngIf="assetDetails.image">
						<td class="label">file uploaded</td>
						<td class="images">
							<img src="{{assetDetails.image}}" alt="Media file">
						</td>
					</tr>
					<!-- <tr class="each-data" *ngIf="assetDetails.description">
						<td class="label">Description</td>
						<td class="value">{{ assetDetails.description }}</td>
					</tr> -->
				</table>
			</div>
			<div *ngIf="!assetDetails" class="mt-5 please-data text-center">Please Wait...</div>
		</div>
	</kt-portlet-body>
</kt-portlet>
