.analytics {
	width: 90%;
	margin: auto;
	.hover {
		cursor: pointer;
	}
	.titl {
		color: #333;
	}
	.date-shift {
		@media(min-width: 1200px) {
			position: relative;
			top: 1.5rem;
		}
	}
	.button-r {
		float: right;
	}
}
.reports {
	// height: 40rem;
	// overflow-y: scroll;
	.each-report {
		padding: 1rem;
		text-align: center;
		color: #333;
		box-shadow: 1px 4px 4px #f0f0f0;
		width: 80%;
		margin: 1.25rem auto;
		.report-data {
			margin: 0.5rem;
			display: flex;
			.tag {
				font-size: 1.25rem;
				color: #222;
				font-weight: 500;
			}
			.value {
				font-size: 1.125rem;
				font-weight: 400;
				margin-left: 0.75rem;
			}
		}
	}
}
.my-pagination {
	display: flex;
	justify-content: space-between;
	width: 100%;
	.pg {
		font-size: 1.25rem;
		color: #222;
	}
	// margin-right: 3rem;
	.btn-grp {
		display: flex;
	}
	button {
		margin-left: 2rem;
	}
}
