<h4 mat-dialog-title>Purchase Order Form</h4>

<mat-dialog-content>
	<div class="row">
		<div class="col-md-12">
			<div class="goods-checks">
				<form [formGroup]="addGoodForm">
					<div class="row">
						<div class="col-md-8">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select placeholder="Select Good" formControlName="good">
									<mat-option value="{{good}}" *ngFor="let good of goods;">{{good}}</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="col-md-4">
							<button mat-button (click)="addSelectedGood()" [disabled]="!addGoodForm.valid">Add</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-12 slide-in mt-3 mb-5" *ngIf="showAmountQuantity">
			<form [formGroup]="goodForm">
				<div class="row">
					<div class="col-md-12">
						<mat-form-field class="mat-form-field-fluid">
							<input type="number" matInput placeholder="Quantity" formControlName="quantity" />
						</mat-form-field>
					</div>
					<div class="col-md-12">
						<mat-form-field class="mat-form-field-fluid">
							<input type="text" matInput placeholder="Amount" formControlName="amount" />
						</mat-form-field>
					</div>
				</div>
			</form>
			<button mat-raised-button [disabled]="!goodForm.valid" (click)="pushGoodValues()">Add Good To PO</button>
		</div>
		<div  *ngIf="goods && payloadGoods.length > 0" class="h4 mt-2 section-title">Goods Added</div>
		<div class="goods mt-4 mb-4">
			<div *ngIf="goods && payloadGoods.length > 0" class="col-md-12 kt-margin-bottom-10-mobile mt-3 m-3">
				<div class="good text-center" *ngFor="let good of payloadGoods; let i = index;">
					<div class="item">{{good}}</div><div class="removebtn hover" (click)="removeGood(i)">❌</div>
				</div>
			</div>
		</div>
	</div>
	<form [formGroup]="poform">
		<div class="row">
			<div class="col-md-12">
				<mat-form-field class="mat-form-field-fluid">
					<mat-select placeholder="Select Project" formControlName="project_id">
						<mat-option value="{{project._id}}" *ngFor="let project of projects;">{{project.name}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="col-md-12">
				<mat-form-field class="mat-form-field-fluid">
					<input matInput placeholder="Subject" formControlName="subject" />
				</mat-form-field>
			</div>
			<div class="col-md-12">
				<mat-form-field class="mat-form-field-fluid">
					<input matInput placeholder="Body" formControlName="body" />
				</mat-form-field>
			</div>
			<div class="col-md-12">
				<mat-form-field class="mat-form-field-fluid">
					<input matInput placeholder="Shipping Address" formControlName="shipping"/>
				</mat-form-field>
			</div>
		</div>
	</form>
</mat-dialog-content>

<mat-dialog-actions>
	<button mat-raised-button (click)="close()">Close</button>
	<button color="primary" mat-raised-button [disabled]="!poform.valid" (click)="sendPO()">Send PO</button>
</mat-dialog-actions>
