.goods {
	display: flex;
	flex-wrap: wrap;
	margin: 1.5rem 0;
	.clickable-good {
		font-size: 1.3rem;
		font-weight: 500;
		border-radius: 4px;
		margin: 1rem;
		padding: 1rem 1.5rem;
		box-shadow: 1px 1px 1px #f0f0f0;
		&:hover {
			cursor: pointer;
		}
		&.true {
			box-shadow: 2px 2px 5px #bdbec0;
		}
		&.false {
			box-shadow: 1px 1px 1px #f0f0f0;
		}
	}
}
.goods {
	display: flex;
	flex-wrap: wrap;
	.good {
		display: inline-flex;
		align-items: center;
		margin: 0.5rem 1rem;
		.item {
			border: 1px solid #d4d5d7;
			border-radius: 0.25rem;
			padding: 0.25rem 1rem;
			margin: 0.5rem;
		}
		.removebtn {
			margin-left: 0.25rem;
			font-weight: 600;
			color: #e71708;
			&:hover {
				cursor: pointer;
			}
		}
	}
}
.slide-in {
	position: relative;
	animation: slideIn 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideIn {
	from {
		transform: translateY(1rem);
	}
	to {
		transform: translateY(0);
	}
}
