<kt-portlet>
	<kt-portlet-header title="Recurring expenditure" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="contact-body mb-5">
			<form [formGroup]="recurringForm">
				<div class="analytics">
					<div class="row slide-in">
						<div class="col-lg-6 kt-margin-bottom-10-mobile date-shift">
							<div class="form-item smallz" *ngIf="allAssets">
								<label class="label">Assets</label>
								<select formControlName="id">
									<option value="">All assets</option>
									<option value="{{asset._id}}" *ngFor="let asset of allAssets;">{{asset.name}}
									</option>
								</select>
							</div>
						</div>
						<div class="col-lg-3 kt-margin-bottom-10-mobile date-shift">
							<div class="form-item smallz">
								<label class="label">Year</label>
								<select formControlName="year">
									<option value="">All years</option>
									<option value="{{year}}" *ngFor="let year of years;">{{year}}
									</option>
								</select>
							</div>
						</div>
						<div class="col-lg-3 mt-4">
							<div class="form-item smallz">
								<label class="label">&nbsp;</label>
								<button class="btn btn-primary btn-sm" [disabled]="!recurringForm.valid"
									(click)="generateAnalytics()">Submit</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- <ul class="mt-5 detaiils" *ngIf="analyticss">
			<li class="details" *ngIf="analyticss.total_amount > -1">Total capital expenditure:
				{{analyticss.total_amount | currency: selectedCurrency}}</li>
			<li class="details" *ngIf="analyticss.amount > -1">Capital expenditure for asset selected:
				{{analyticss.amount | currency: selectedCurrency}}</li>
		</ul> -->
		<ul class="mt-5 detaiils" *ngIf="analyticss">
			<li class="details" *ngIf="analyticss.total_amount_naira > -1">Total capital expenditure (naira):&nbsp;
				{{analyticss.total_amount_naira  | currency: naira}}</li>
			<li class="details" *ngIf="analyticss.total_amount_dollar > -1">Total capital expenditure (dollar):&nbsp;
				{{analyticss.total_amount_dollar  | currency: ty$sign}}</li>
			<li class="details" *ngIf="analyticss.amount_naira > -1">Capital expenditure for asset selected (naira):&nbsp;
				{{analyticss.amount_naira | currency: naira}}</li>
			<li class="details" *ngIf="analyticss.amount_dollar > -1">Capital expenditure for asset selected (dollar):&nbsp;
				{{analyticss.amount_dollar | currency: ty$sign}}</li>
		</ul>
		<div class="mt-5 mb-5 chart">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="chartOptions"
						[legend]="false" [chartType]="barChartType">
					</canvas>
				</div>
			</div>
		</div>

	</kt-portlet-body>
</kt-portlet>