.form-group {
	width: 95%;
	margin: 1.5rem auto;
	@media(min-width: 992px) {
		width: 40%;
	}
	label {
		font-weight: 500;
	}
}

.spacings {
	display: inline-block;
	margin-right: 0.5rem;
}
.menu {
	display: flex;
	justify-content: flex-start;
	.item {
		color: #1B1B28;
		font-weight: 500;
		margin-right: 4rem;
		&:hover {
			cursor: pointer;
		}
		&.active {
			.active {
				width: 0.75rem;
				height: 0.75rem;
				background-color: #5D78FF;
				border-radius: 50%;
				margin: auto;
			}
		}
	}
}