<kt-portlet>
	<kt-portlet-body>
		<div class="list-ccover p-4">
			<div class="menu">
				<div [className]="selected === 'main_form' ? 'item active' : 'item'" (click)="selectMenu('main_form')">
					<div class="selected">Main form</div>
					<div class="active"></div>
				</div>
				<div [className]="selected === 'reccurent_year' ? 'item active' : 'item'"
					(click)="selectMenu('reccurent_year')">
					<div class="selected">Reccurent expenditure (year)</div>
					<div class="active"></div>
				</div>
				<div [className]="selected === 'reccurent_month' ? 'item active' : 'item'"
					(click)="selectMenu('reccurent_month')">
					<div class="selected">Reccurent expenditure (month)</div>
					<div class="active"></div>
				</div>
				<div [className]="selected === 'historical_cost' ? 'item active' : 'item'"
					(click)="selectMenu('historical_cost')">
					<div class="selected">Historical cost</div>
					<div class="active"></div>
				</div>
			</div>
			<div class="roles-table" *ngIf="selected === 'main_form'">
				<div class="role-body">
					<form [formGroup]="dataFormGroup" (ngSubmit)="onSubmit()">
						<div class="form-group">
							<div *ngFor="let form_elem of forms">
								<div [ngSwitch]="form_elem.type">
									<div *ngSwitchCase="'text'">
										<div class="row">
											<div class="col-lg-12">
												<div class="form-item">
													<label class="label">{{form_elem.name}}</label>
													<input type="text" placeholder="Enter {{form_elem.name}}"
														formControlName="{{form_elem.id}}"
														required="{{form_elem.required}}" />
												</div>
											</div>
										</div>
									</div>
									<div *ngSwitchCase="'number'">
										<div class="row">
											<div class="col-lg-12">
												<div class="form-item">
													<label class="label">{{form_elem.name}}</label>
													<input type="number" placeholder="Enter {{form_elem.name}}"
														formControlName="{{form_elem.id}}"
														required="{{form_elem.required}}" />
												</div>
											</div>
										</div>
									</div>
									<div *ngSwitchCase="'select'">
										<div class="row">
											<div class="col-lg-12">
												<div class="form-item">
													<label class="label">{{form_elem.name}}</label>
													<select formControlName="{{form_elem.id}}"
														required="{{form_elem.required}}">
														<option selected="selected">Select {{form_elem.name}}</option>
														<option *ngFor="let opt of form_elem.options">
															{{opt}}
														</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div *ngSwitchCase="'file'">
										<div class="row">
											<div class="col-lg-12">
												<div class="form-item upload">
													<label class="label" for="{{form_elem.id}}">
														<img src="./assets/media/icons/upload-all.svg" alt="">
													</label>
													<input type="file" id="{{form_elem.id}}"
														(change)="onFileChange($event, form_elem.id)" accept="image/*">
													<div class="placeholder"
														*ngIf="form_elem.id === 'icon' && !fileNameIcon">Upload
														{{form_elem.name}}</div>
													<div class="placeholder"
														*ngIf="form_elem.id === 'diagram_schematics' && !fileNameSchematics">
														Upload
														{{form_elem.name}}</div>
													<div class="placeholder"
														*ngIf="form_elem.id === 'industrial_link' && !fileNameIndustrial">
														Upload
														{{form_elem.name}}</div>
													<div class="placeholder"
														*ngIf="form_elem.id === 'location_of_deployment_image' && !fileNameLocation">
														Upload {{form_elem.name}}</div>
													<div class="placeholder slide-in" *ngIf="form_elem.id === 'icon'">
														{{fileNameIcon}}</div>
													<div class="placeholder slide-in"
														*ngIf="form_elem.id === 'diagram_schematics'">
														{{fileNameSchematics}}</div>
													<div class="placeholder slide-in"
														*ngIf="form_elem.id === 'industrial_link'">
														{{fileNameIndustrial}}</div>
													<div class="placeholder slide-in"
														*ngIf="form_elem.id === 'location_of_deployment_image'">
														{{fileNameLocation}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
					<div class="form-submit mt-5 mb-4">
						<button class="reset" (click)="reset()">Reset</button>
						<button class="submit" type="button" (click)="onSubmit()">Submit</button>
					</div>
				</div>
			</div>
			<div class="roles-table" *ngIf="selected === 'reccurent_year'">
				<div class="role-body">
					<form [formGroup]="reccurentFormGroup">
						<div class="form-group">
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2012</label>
										<input type="number" placeholder="Enter 2012 expenditure" formControlName="year12">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2013</label>
										<input type="number" placeholder="Enter 2013 expenditure" formControlName="year13">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2014</label>
										<input type="number" placeholder="Enter 2014 expenditure" formControlName="year14">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2015</label>
										<input type="number" placeholder="Enter 2015 expenditure" formControlName="year15">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2016</label>
										<input type="number" placeholder="Enter 2016 expenditure" formControlName="year16">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2017</label>
										<input type="number" placeholder="Enter 2017 expenditure" formControlName="year17">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2018</label>
										<input type="number" placeholder="Enter 2018 expenditure" formControlName="year18">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2019</label>
										<input type="number" placeholder="Enter 2019 expenditure" formControlName="year19">
									</div>
								</div>
							</div>
						</div>
						<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
							(close)="onAlertClose($event)">
							Oops! Form is not filled correctly. Change a few things up and try submitting again.
						</kt-alert>
					</form>
					<div class="form-submit mt-5 mb-4">
						<button class="reset" (click)="reset()">Reset</button>
						<button class="submit" type="button" (click)="onSubmit()">Submit</button>
					</div>
				</div>
			</div>
			<div class="roles-table" *ngIf="selected === 'reccurent_month'">
				<div class="role-body">
					<form [formGroup]="reccurentMonthFormGroup">
						<div class="form-group">
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">January</label>
										<input type="number" placeholder="Enter january expenditure" formControlName="january">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">February</label>
										<input type="number" placeholder="Enter february expenditure" formControlName="february">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">March</label>
										<input type="number" placeholder="Enter march expenditure" formControlName="march">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">April</label>
										<input type="number" placeholder="Enter april expenditure" formControlName="april">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">May</label>
										<input type="number" placeholder="Enter may expenditure" formControlName="may">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">June</label>
										<input type="number" placeholder="Enter june expenditure" formControlName="june">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">July</label>
										<input type="number" placeholder="Enter july expenditure" formControlName="july">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">August</label>
										<input type="number" placeholder="Enter august expenditure" formControlName="august">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">September</label>
										<input type="number" placeholder="Enter september expenditure" formControlName="september">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">October</label>
										<input type="number" placeholder="Enter october expenditure" formControlName="october">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">November</label>
										<input type="number" placeholder="Enter november expenditure" formControlName="november">
									</div>
								</div>
							</div> 
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">December</label>
										<input type="number" placeholder="Enter december expenditure" formControlName="december">
									</div>
								</div>
							</div>
						</div>
						<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
							(close)="onAlertClose($event)">
							Oops! Form is not filled correctly. Change a few things up and try submitting again.
						</kt-alert>
					</form>
					<div class="form-submit mt-5 mb-4">
						<button class="reset" (click)="reset()">Reset</button>
						<button class="submit" type="button" (click)="onSubmit()">Submit</button>
					</div>
				</div>
			</div>
			<div class="roles-table" *ngIf="selected === 'historical_cost'">
				<div class="role-body">
					<form [formGroup]="historicalFormGroup">
						<div class="form-group">
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2012</label>
										<input type="number" placeholder="Enter 2012 expenditure" formControlName="year12">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2013</label>
										<input type="number" placeholder="Enter 2013 expenditure" formControlName="year13">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2014</label>
										<input type="number" placeholder="Enter 2014 expenditure" formControlName="year14">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2015</label>
										<input type="number" placeholder="Enter 2015 expenditure" formControlName="year15">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2016</label>
										<input type="number" placeholder="Enter 2016 expenditure" formControlName="year16">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2017</label>
										<input type="number" placeholder="Enter 2017 expenditure" formControlName="year17">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2018</label>
										<input type="number" placeholder="Enter 2018 expenditure" formControlName="year18">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2019</label>
										<input type="number" placeholder="Enter 2019 expenditure" formControlName="year19">
									</div>
								</div>
							</div>
						</div>
						<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
							(close)="onAlertClose($event)">
							Oops! Form is not filled correctly. Change a few things up and try submitting again.
						</kt-alert>
					</form>
					<div class="form-submit mt-5 mb-4">
						<button class="reset" (click)="reset()">Reset</button>
						<button class="submit" type="button" (click)="onSubmit()">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>