<kt-portlet>
	<kt-portlet-header title="Asset data" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="goback" (click)="goBack()">
			<img src="./assets/media/icons/backBtn.svg" alt="">
			<span>Back</span>
		</div>
		<div class="list-ccover p-4">
			<div class="menu mb-5">
				<div [className]="selected === 'main_form' ? 'item active' : 'item'" (click)="selectMenu('main_form')">
					<div class="selected">Asset details</div>
					<div class="active"></div>
				</div>
				<div [className]="selected === 'reccurent_year' ? 'item active' : 'item'"
					(click)="selectMenu('reccurent_year')" *ngIf="showReccurentYear">
					<div class="selected">Reccurent expenditure</div>
					<div class="active"></div>
				</div>
				<div [className]="selected === 'historical_cost' ? 'item active' : 'item'"
					(click)="selectMenu('historical_cost')" *ngIf="showHistorical">
					<div class="selected">Historical cost</div>
					<div class="active"></div>
				</div>
				<!-- <div [className]="selected === 'historical_cost_dollar' ? 'item active' : 'item'"
					(click)="selectMenu('historical_cost_dollar')" *ngIf="showHistorical">
					<div class="selected">Historical cost (dollar)</div>
					<div class="active"></div>
				</div> -->
			</div>
			<div class="roles-table slide-in" *ngIf="selected === 'main_form'">
				<div class="role-body">
					<div class="form-group">
						<div class="row">
							<div class="col-lg-12">
								<div class="form-item">
									<label class="label">Asset name/title</label>
									<input type="text" placeholder="Enter asset name" [(ngModel)]="assetName"
										required="required" />
								</div>
							</div>
						</div>
					</div>
					<form [formGroup]="dataFormGroup" (ngSubmit)="onSubmit()">
						<div class="form-group">
							<div *ngFor="let form_elem of forms; let i = index;">
								<div [ngSwitch]="form_elem.type">
									<div *ngIf="form_elem.custom === true && form_elem.id === 'custom1'">
										<div *ngSwitchCase="'text'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<input type="text" placeholder="Enter {{form_elem.name}}"
															(change)="changeCustom($event, form_elem.id)"
															[(ngModel)]="custom1"
															[ngModelOptions]="{standalone: true}">
													</div>
												</div>
											</div>
										</div>
										<div *ngSwitchCase="'number'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<input type="text" placeholder="Enter {{form_elem.name}}"
															(change)="changeCustom($event, form_elem.id)"
															[(ngModel)]="custom1"
															[ngModelOptions]="{standalone: true}">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div *ngIf="form_elem.custom === true && form_elem.id === 'custom2'">
										<div *ngSwitchCase="'text'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<input type="text" placeholder="Enter {{form_elem.name}}"
															(change)="changeCustom($event, form_elem.id)"
															[(ngModel)]="custom2"
															[ngModelOptions]="{standalone: true}">
													</div>
												</div>
											</div>
										</div>
										<div *ngSwitchCase="'number'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<input type="text" placeholder="Enter {{form_elem.name}}"
															(change)="changeCustom($event, form_elem.id)"
															[(ngModel)]="custom2"
															[ngModelOptions]="{standalone: true}">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div *ngIf="form_elem.custom === true && form_elem.id === 'custom3'">
										<div *ngSwitchCase="'text'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<input type="text" placeholder="Enter {{form_elem.name}}"
															(change)="changeCustom($event, form_elem.id)"
															[(ngModel)]="custom3"
															[ngModelOptions]="{standalone: true}">
													</div>
												</div>
											</div>
										</div>
										<div *ngSwitchCase="'number'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<input type="text" placeholder="Enter {{form_elem.name}}"
															(change)="changeCustom($event, form_elem.id)"
															[(ngModel)]="custom3"
															[ngModelOptions]="{standalone: true}">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div *ngIf="form_elem.custom === true && form_elem.id === 'custom4'">
										<div *ngSwitchCase="'text'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<input type="text" placeholder="Enter {{form_elem.name}}"
															(change)="changeCustom($event, form_elem.id)"
															[(ngModel)]="custom4"
															[ngModelOptions]="{standalone: true}">
													</div>
												</div>
											</div>
										</div>
										<div *ngSwitchCase="'number'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<input type="text" placeholder="Enter {{form_elem.name}}"
															(change)="changeCustom($event, form_elem.id)"
															[(ngModel)]="custom4"
															[ngModelOptions]="{standalone: true}">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div *ngIf="form_elem.custom === true && form_elem.id === 'custom5'">
										<div *ngSwitchCase="'text'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<input type="text" placeholder="Enter {{form_elem.name}}"
															(change)="changeCustom($event, form_elem.id)"
															[(ngModel)]="custom5"
															[ngModelOptions]="{standalone: true}">
													</div>
												</div>
											</div>
										</div>
										<div *ngSwitchCase="'number'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<input type="text" placeholder="Enter {{form_elem.name}}"
															(change)="changeCustom($event, form_elem.id)"
															[(ngModel)]="custom5"
															[ngModelOptions]="{standalone: true}">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div *ngIf="form_elem.custom === true && form_elem.id === 'custom6'">
										<div *ngSwitchCase="'text'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<input type="text" placeholder="Enter {{form_elem.name}}"
															(change)="changeCustom($event, form_elem.id)"
															[(ngModel)]="custom6"
															[ngModelOptions]="{standalone: true}">
													</div>
												</div>
											</div>
										</div>
										<div *ngSwitchCase="'number'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<input type="text" placeholder="Enter {{form_elem.name}}"
															(change)="changeCustom($event, form_elem.id)"
															[(ngModel)]="custom6"
															[ngModelOptions]="{standalone: true}">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div *ngIf="form_elem.custom === true && form_elem.id === 'custom7'">
										<div *ngSwitchCase="'text'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<input type="text" placeholder="Enter {{form_elem.name}}"
															(change)="changeCustom($event, form_elem.id)"
															[(ngModel)]="custom7"
															[ngModelOptions]="{standalone: true}">
													</div>
												</div>
											</div>
										</div>
										<div *ngSwitchCase="'number'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<input type="text" placeholder="Enter {{form_elem.name}}"
															(change)="changeCustom($event, form_elem.id)"
															[(ngModel)]="custom7"
															[ngModelOptions]="{standalone: true}">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div *ngIf="form_elem.custom === true && form_elem.id === 'custom8'">
										<div *ngSwitchCase="'text'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<input type="text" placeholder="Enter {{form_elem.name}}"
															(change)="changeCustom($event, form_elem.id)"
															[(ngModel)]="custom8"
															[ngModelOptions]="{standalone: true}">
													</div>
												</div>
											</div>
										</div>
										<div *ngSwitchCase="'number'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<input type="text" placeholder="Enter {{form_elem.name}}"
															(change)="changeCustom($event, form_elem.id)"
															[(ngModel)]="custom8"
															[ngModelOptions]="{standalone: true}">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div *ngIf="form_elem.custom === true && form_elem.id === 'custom9'">
										<div *ngSwitchCase="'text'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<input type="text" placeholder="Enter {{form_elem.name}}"
															(change)="changeCustom($event, form_elem.id)"
															[(ngModel)]="custom9"
															[ngModelOptions]="{standalone: true}">
													</div>
												</div>
											</div>
										</div>
										<div *ngSwitchCase="'number'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<input type="text" placeholder="Enter {{form_elem.name}}"
															(change)="changeCustom($event, form_elem.id)"
															[(ngModel)]="custom9"
															[ngModelOptions]="{standalone: true}">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div *ngIf="form_elem.custom === true && form_elem.id === 'custom10'">
										<div *ngSwitchCase="'text'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<input type="text" placeholder="Enter {{form_elem.name}}"
															(change)="changeCustom($event, form_elem.id)"
															[(ngModel)]="custom10"
															[ngModelOptions]="{standalone: true}">
													</div>
												</div>
											</div>
										</div>
										<div *ngSwitchCase="'number'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<input type="text" placeholder="Enter {{form_elem.name}}"
															(change)="changeCustom($event, form_elem.id)"
															[(ngModel)]="custom10"
															[ngModelOptions]="{standalone: true}">
													</div>
												</div>
											</div>
										</div>
									</div>

									<div *ngIf="form_elem.custom !== true">
										<div *ngSwitchCase="'text'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<input type="text" placeholder="Enter {{form_elem.name}}"
															formControlName="{{form_elem.id}}"
															required="{{form_elem.required}}" />
													</div>
												</div>
											</div>
										</div>
									</div>
									<div *ngIf="form_elem.id !== 'depreciation' && form_elem.custom === true">
										<div *ngSwitchCase="'number'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<input type="number" placeholder="Enter {{form_elem.name}}"
															[(ngModel)]="customsContainer[form_elem.id].value"
															required="{{form_elem.required}}" />
													</div>
												</div>
											</div>
										</div>
									</div>
									<div *ngIf="form_elem.id === 'cost'">
										<div class="row">
											<div class="col-lg-12">
												<div class="form-item">
													<label class="label">Cost of acquisition (dollar)</label>
													<input type="text" placeholder="Enter cost in dollar"
														[(ngModel)]="costDollar" required="required"
														[ngModelOptions]="{standalone: true}" />
												</div>
											</div>
										</div>
									</div>
									<div *ngIf="form_elem.id === 'projected_cost'">
										<div *ngSwitchCase="'number'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">Projected cost (dollar)</label>
														<input type="number" placeholder="Enter cost in dollar"
															[(ngModel)]="projected_cost_dollar"
															[ngModelOptions]="{standalone: true}" />
													</div>
												</div>
											</div>
										</div>
									</div>
									<div *ngIf="form_elem.id !== 'depreciation' && form_elem.custom !== true">
										<div *ngSwitchCase="'number'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<input type="number" placeholder="Enter {{form_elem.name}}"
															formControlName="{{form_elem.id}}"
															required="{{form_elem.required}}" />
													</div>
												</div>
											</div>
										</div>
									</div>
									<div *ngIf="form_elem.id === 'depreciation'">
										<div *ngSwitchCase="'number'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<input type="number" placeholder="Enter {{form_elem.name}}"
															formControlName="{{form_elem.id}}" max="{{form_elem.max}}"
															required="{{form_elem.required}}" />
													</div>
												</div>
											</div>
										</div>
									</div>
									<div *ngSwitchCase="'date'">
										<div class="row">
											<div class="col-lg-12">
												<div class="form-item">
													<label class="label">{{form_elem.name}}</label>
													<input type="date" placeholder="Enter {{form_elem.name}}"
														formControlName="{{form_elem.id}}"
														required="{{form_elem.required}}" />
												</div>
											</div>
										</div>
									</div>
									<div *ngIf="form_elem.id !== 'business_owners'">
										<div *ngSwitchCase="'select'">
											<div class="row">
												<div class="col-lg-12">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<select formControlName="{{form_elem.id}}"
															required="{{form_elem.required}}">
															<option selected="selected">Select {{form_elem.name}}
															</option>
															<option *ngFor="let opt of form_elem.options">
																{{opt}}
															</option>
														</select>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div *ngIf="form_elem.id === 'business_owners'">
										<div *ngSwitchCase="'select'">
											<div class="row">
												<div class="col-lg-12" *ngIf="staffs">
													<div class="form-item">
														<label class="label">{{form_elem.name}}</label>
														<select (change)="handleFormChange($event)">
															<option value="" selected="selected">Select
																{{form_elem.name}}
															</option>
															<option [value]="staff._id" *ngFor="let staff of staffs">
																{{staff.name}}
															</option>
														</select>
													</div>
													<div class="form-item">
														<div class="users-list mt-3"
															*ngIf="myformsName && myformsName.length > 0">
															<div class="each-user"
																*ngFor="let type of myformsName; let i = index;">
																<div class="name">
																	<img src="./assets/media/icons/details-icon.svg"
																		alt="">
																	{{type.name | titlecase}}
																</div>
																<div class="action ml-4" (click)="formRemove(type)">
																	<img src="./assets/media/icons/delete-close.svg"
																		alt="">
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div *ngSwitchCase="'file'">
										<div class="row" *ngIf="!assetDataId">
											<div class="col-lg-12">
												<div class="form-item upload">
													<label class="label" for="{{form_elem.id}}">
														<img src="./assets/media/icons/upload-all.svg" alt="">
													</label>
													<input type="file" id="{{form_elem.id}}"
														(change)="onFileChange($event, form_elem.id)" accept="image/*">
													<div class="placeholder"
														*ngIf="form_elem.id === 'icon' && !fileNameIcon">Upload
														{{form_elem.name}}</div>

													<div class="placeholder"
														*ngIf="form_elem.id === 'diagram' && !fileNameSchematics">
														Upload {{form_elem.name}}</div>

													<div class="placeholder"
														*ngIf="form_elem.id === 'industrial_link' && !fileNameIndustrial">
														Upload {{form_elem.name}}</div>

													<div class="placeholder"
														*ngIf="form_elem.id === 'location_of_deployment_image' && !fileNameLocation">
														Upload {{form_elem.name}}</div>

													<div class="placeholder slide-in" *ngIf="form_elem.id === 'icon'">
														{{fileNameIcon}}</div>

													<div class="placeholder slide-in"
														*ngIf="form_elem.id === 'diagram'">
														{{fileNameSchematics}}</div>

													<div class="placeholder slide-in"
														*ngIf="form_elem.id === 'industrial_link'">
														{{fileNameIndustrial}}</div>

													<div class="placeholder slide-in"
														*ngIf="form_elem.id === 'location_of_deployment_image'">
														{{fileNameLocation}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
					<div class="form-submit mt-5 mb-4">
						<button class="reset" (click)="reset()">Reset</button>
						<button class="submit" type="button" (click)="onSubmit()">Submit</button>
					</div>
				</div>
			</div>
			<div class="roles-table slide-in" *ngIf="selected === 'reccurent_year'">
				<div class="role-body">
					<form [formGroup]="reccurentFormGroup">
						<div class="form-group">
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2020</label>
										<div class="with-tag">
											<span>₦</span>
											<input type="number" placeholder="Expenditure in naira"
												formControlName="year20">
										</div>
										<div class="with-tag">
											<span class="mt-2">$</span>
											<input type="number" class="mt-2" placeholder="Expenditure in dollar"
												formControlName="year12_dollar">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2019</label>
										<div class="with-tag">
											<span>₦</span>
											<input type="number" placeholder="Expenditure in naira"
												formControlName="year19">
										</div>
										<div class="with-tag">
											<span class="mt-2">$</span>
											<input type="number" class="mt-2" placeholder="Expenditure in dollar"
												formControlName="year19_dollar">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2018</label>
										<div class="with-tag">
											<span>₦</span>
											<input type="number" placeholder="Expenditure in naira"
												formControlName="year18">
										</div>
										<div class="with-tag">
											<span class="mt-2">$</span>
											<input type="number" class="mt-2" placeholder="Expenditure in dollar"
												formControlName="year18_dollar">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2017</label>
										<div class="with-tag">
											<span>₦</span>
											<input type="number" placeholder="Expenditure in naira"
												formControlName="year17">
										</div>
										<div class="with-tag">
											<span class="mt-2">$</span>
											<input type="number" class="mt-2" placeholder="Expenditure in dollar"
												formControlName="year17_dollar">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2016</label>
										<div class="with-tag">
											<span>₦</span>
											<input type="number" placeholder="Expenditure in naira"
												formControlName="year16">
										</div>
										<div class="with-tag">
											<span class="mt-2">$</span>
											<input type="number" class="mt-2" placeholder="Expenditure in dollar"
												formControlName="year16_dollar">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2015</label>
										<div class="with-tag">
											<span>₦</span>
											<input type="number" placeholder="Expenditure in naira"
												formControlName="year15">
										</div>
										<div class="with-tag">
											<span class="mt-2">$</span>
											<input type="number" class="mt-2" placeholder="Expenditure in dollar"
												formControlName="year15_dollar">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2014</label>
										<div class="with-tag">
											<span>₦</span>
											<input type="number" placeholder="Expenditure in naira"
												formControlName="year14">
										</div>
										<div class="with-tag">
											<span class="mt-2">$</span>
											<input type="number" class="mt-2" placeholder="Expenditure in dollar"
												formControlName="year14_dollar">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2013</label>
										<div class="with-tag">
											<span>₦</span>
											<input type="number" placeholder="Expenditure in naira"
												formControlName="year13">
										</div>
										<div class="with-tag">
											<span class="mt-2">$</span>
											<input type="number" class="mt-2" placeholder="Expenditure in dollar"
												formControlName="year13_dollar">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2012</label>
										<div class="with-tag">
											<span>₦</span>
											<input type="number" placeholder="Expenditure in naira"
												formControlName="year12">
										</div>
										<div class="with-tag">
											<span class="mt-2">$</span>
											<input type="number" class="mt-2" placeholder="Expenditure in dollar"
												formControlName="year12_dollar">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">Gross total revenue</label>
										<div class="with-tag">
											<span>₦</span>
											<input type="number" placeholder="total revenue in naira"
												formControlName="gross_naira">
										</div>
										<div class="with-tag">
											<span class="mt-2">$</span>
											<input type="number" class="mt-2" placeholder="total revenue in dollar"
												formControlName="gross_dollar">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">Notes</label>
										<textarea rows="5" placeholder="Enter additional notes"
											formControlName="note"></textarea>
										<!-- <input type="text" placeholder="Enter additional notes" formControlName="note"> -->
									</div>
								</div>
							</div>
						</div>
						<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
							(close)="onAlertClose($event)">
							Oops! Form is not filled correctly. Change a few things up and try submitting again.
						</kt-alert>
					</form>
					<div class="form-submit mt-5 mb-4">
						<button class="reset" (click)="reset()">Reset</button>
						<button class="submit" type="button"
							(click)="addReccurentYear('recurrent_expenditure_year')">Submit</button>
					</div>
				</div>
			</div>
			<div class="roles-table slide-in" *ngIf="selected === 'reccurent_month'">
				<div class="role-body">
					<form [formGroup]="reccurentMonthFormGroup">
						<div class="form-group">
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">January</label>
										<input type="number" placeholder="Enter january expenditure"
											formControlName="january">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">February</label>
										<input type="number" placeholder="Enter february expenditure"
											formControlName="february">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">March</label>
										<input type="number" placeholder="Enter march expenditure"
											formControlName="march">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">April</label>
										<input type="number" placeholder="Enter april expenditure"
											formControlName="april">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">May</label>
										<input type="number" placeholder="Enter may expenditure" formControlName="may">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">June</label>
										<input type="number" placeholder="Enter june expenditure"
											formControlName="june">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">July</label>
										<input type="number" placeholder="Enter july expenditure"
											formControlName="july">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">August</label>
										<input type="number" placeholder="Enter august expenditure"
											formControlName="august">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">September</label>
										<input type="number" placeholder="Enter september expenditure"
											formControlName="september">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">October</label>
										<input type="number" placeholder="Enter october expenditure"
											formControlName="october">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">November</label>
										<input type="number" placeholder="Enter november expenditure"
											formControlName="november">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">December</label>
										<input type="number" placeholder="Enter december expenditure"
											formControlName="december">
									</div>
								</div>
							</div>
						</div>
						<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
							(close)="onAlertClose($event)">
							Oops! Form is not filled correctly. Change a few things up and try submitting again.
						</kt-alert>
					</form>
					<div class="form-submit mt-5 mb-4">
						<button class="reset" (click)="reset()">Reset</button>
						<button class="submit" type="button"
							(click)="addReccurentMonth('recurrent_expenditure_month')">Submit</button>
					</div>
				</div>
			</div>
			<div class="roles-table slide-in" *ngIf="selected === 'historical_cost'">
				<div class="role-body">
					<form [formGroup]="historicalFormGroup">
						<div class="form-group">
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2020</label>
										<div class="with-tag">
											<span>₦</span>
											<input type="number" placeholder="historical cost in naira"
												formControlName="year20">
										</div>
										<div class="with-tag">
											<span class="mt-2">$</span>
											<input type="number" class="mt-2" placeholder="historical cost in dollar"
												formControlName="year20_dollar">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2019</label>
										<div class="with-tag">
											<span>₦</span>
											<input type="number" placeholder="historical cost in naira"
												formControlName="year19">
										</div>
										<div class="with-tag">
											<span class="mt-2">$</span>
											<input type="number" class="mt-2" placeholder="historical cost in dollar"
												formControlName="year19_dollar">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2018</label>
										<div class="with-tag">
											<span>₦</span>
											<input type="number" placeholder="historical cost in naira"
												formControlName="year18">
										</div>
										<div class="with-tag">
											<span class="mt-2">$</span>
											<input type="number" class="mt-2" placeholder="historical cost in dollar"
												formControlName="year18_dollar">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2017</label>
										<div class="with-tag">
											<span>₦</span>
											<input type="number" placeholder="historical cost in naira"
												formControlName="year17">
										</div>
										<div class="with-tag">
											<span class="mt-2">$</span>
											<input type="number" class="mt-2" placeholder="historical cost in dollar"
												formControlName="year17_dollar">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2016</label>
										<div class="with-tag">
											<span>₦</span>
											<input type="number" placeholder="historical cost in naira"
												formControlName="year16">
										</div>
										<div class="with-tag">
											<span class="mt-2">$</span>
											<input type="number" class="mt-2" placeholder="historical cost in dollar"
												formControlName="year16_dollar">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2015</label>
										<div class="with-tag">
											<span>₦</span>
											<input type="number" placeholder="historical cost in naira"
												formControlName="year15">
										</div>
										<div class="with-tag">
											<span class="mt-2">$</span>
											<input type="number" class="mt-2" placeholder="historical cost in dollar"
												formControlName="year15_dollar">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2014</label>
										<div class="with-tag">
											<span>₦</span>
											<input type="number" placeholder="historical cost in naira"
												formControlName="year14">
										</div>
										<div class="with-tag">
											<span class="mt-2">$</span>
											<input type="number" class="mt-2" placeholder="historical cost in dollar"
												formControlName="year14_dollar">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2013</label>
										<div class="with-tag">
											<span>₦</span>
											<input type="number" placeholder="historical cost in naira"
												formControlName="year13">
										</div>
										<div class="with-tag">
											<span class="mt-2">$</span>
											<input type="number" class="mt-2" placeholder="historical cost in dollar"
												formControlName="year13_dollar">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-item">
										<label class="label">2012</label>
										<div class="with-tag">
											<span>₦</span>
											<input type="number" placeholder="historical cost in naira"
												formControlName="year12">
										</div>
										<div class="with-tag">
											<span class="mt-2">$</span>
											<input type="number" class="mt-2" placeholder="historical cost in dollar"
												formControlName="year12_dollar">
										</div>
									</div>
								</div>
							</div>
						</div>
						<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
							(close)="onAlertClose($event)">
							Oops! Form is not filled correctly. Change a few things up and try submitting again.
						</kt-alert>
					</form>
					<div class="form-submit mt-5 mb-4">
						<button class="reset" (click)="reset()">Reset</button>
						<button class="submit" type="button"
							(click)="addHistoricalCost('historical_cost')">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>