<kt-portlet>
	<kt-portlet-header title="All Leads" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a routerLink="/strada/leads/manage" class="primary-button kt-margin-r-10" matTooltip="Add New Lead">
				<i class="la la-plus"></i>
				<span class="kt-hidden-mobile">New Lead</span>
			</a>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="lead-body">
			<div class="stage-history">
				<table class="table-view">
					<thead>
						<tr>
							<th>Name</th>
							<th>Company</th>
							<th>Email</th>
							<th>Source</th>
							<th>Status</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr className="each-row" *ngFor="let lead of leads">
							<td>{{ lead.name }}</td>
							<td>{{ lead.company }}</td>
							<td>{{ lead.email }}</td>
							<td>{{ lead.source }}</td>
							<td class="value status">
								<span
									[ngClass]="{
										'leadInitiated': lead.status == 'Lead Initiated',
										'emailSent': lead.status == 'Email Sent',
										'scheduledMeeting': lead.status == 'Scheduled Meeting',
										'sentMOUProposal': lead.status == 'Sent MOU/Proposal',
										'reviewMOUProposal': lead.status == 'Review MOU/Proposal',
										'followUpRequested': lead.status == 'Follow Up Requested',
										'sentInvoice': lead.status == 'Sent Invoice',
										'signedAgreement': lead.status == 'Signed Agreement',
										'convertedToContact': lead.status == 'Converted to Contact'
									}"
								[matMenuTriggerFor]="menu">{{ lead.status }}</span>
								<mat-menu #menu="matMenu">
									<button mat-menu-item (click)="changed(status, lead._id)"
										*ngFor="let status of statuses">
										{{ status }}
									</button>
								</mat-menu>
							</td>
							<td><a routerLink="/strada/leads/lead/{{ lead._id }}" class="view">View</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="my-pagination mt-5 mb-4">
			<div class="pg">
				Page: <b>{{ pageIndex + 1 }}</b>
			</div>
			<div class="btn-grp">
				<button mat-raised-button (click)="getPrev()" color="primary" [disabled]="disablePrev">
					Previous
				</button>
				<button mat-raised-button (click)="getNext()" color="primary" [disabled]="disableNext">
					Next
				</button>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>
