table {
	width: 100%;
}
.campaign-cards {
	display: flex;
	flex-wrap: wrap;
	.each-campaign-card {
		margin: 1rem;
		padding: 1rem;
		font-size: 1rem;
		border: 1px solid #888;
		border-radius: 0.25rem;
		font-weight: 600;
		a {
			text-decoration: none;
			color: #555;
		}
	}
}
.my-pagination {
	display: flex;
	justify-content: space-between;
	width: 100%;
	.pg {
		font-size: 1.25rem;
		color: #222;
	}
	// margin-right: 3rem;
	.btn-grp {
		display: flex;
	}
	button {
		margin-left: 2rem;
	}
}
