<kt-portlet>
	<kt-portlet-header
		[title]="pageTitle"
		[class]="'kt-portlet__head--lg'"
		[viewLoading$]="loading$"
	>
	<ng-container ktPortletTools>
			<div class="details-action edit text-center" routerLink="/strada/leads/manage/{{leadId}}">
				<img src="./assets/media/icons/details-edit.svg" alt="">
				<span>Edit</span>
			</div>
			<div class="details-action delete text-center" (click)="onDelete()">
				<img src="./assets/media/icons/details-delete.svg" alt="">
				<span>Delete</span>
			</div>
			<div class="details-action approve text-center"
			(click)="onConvert()">
				<img src="./assets/media/icons/details-approve.svg" alt="">
				<span>Convert</span>
			</div>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
			<div class="goback" (click)="goBack()">
				<img src="./assets/media/icons/backBtn.svg" alt="">
				<span>Back</span>
			</div>
		<div class="lead-body"  *ngIf="leadDetails">
			<div class="item-details maxed pt-0">
				<table
					class="ml-5 details-table">
					<tr class="each-data" *ngIf="leadDetails.company">
						<td class="label">Company</td>
						<td class="value">{{ leadDetails.company }}</td>
					</tr>
					<tr class="each-data" *ngIf="leadDetails.industry">
						<td class="label">Industry</td>
						<td class="value">{{ leadDetails.industry }}</td>
					</tr>
					<tr class="each-data" *ngIf="leadDetails.email">
						<td class="label">Email</td>
						<td class="value"><a href="mailto:{{ leadDetails.email }}">{{ leadDetails.email }}</a></td>
					</tr>
					<tr class="each-data" *ngIf="leadDetails.status">
							<td class="label">Status</td>
							<td class="value status">
								<span class="plain">{{ leadDetails.status }}</span>
							</td>
						</tr>
					<tr class="each-data" *ngIf="leadDetails.source">
						<td class="label">Source</td>
						<td class="value status">
							<span class="plain">{{ leadDetails.source }}</span>
						</td>
					</tr>
					<tr class="each-data" *ngIf="leadDetails.address">
						<td class="label">Address</td>
						<td class="value">{{ leadDetails.address }}</td>
					</tr>
					<tr class="each-data">
						<td class="label">Created On</td>
						<td class="value">{{ leadDetails.created_at | date: 'medium' }}</td>
					</tr>
					<tr class="each-data">
						<td class="label">Updated On</td>
						<td class="value">{{ leadDetails.updated_at | date: 'medium' }}</td>
					</tr>
					<!-- <tr class="each-data" *ngIf="leadDetails.image">
						<td class="label">Business Card / Logo</td>
						<td class="images">
							<img src="{{leadDetails.image}}" alt="Media file">
						</td>
					</tr> -->
				</table>
			</div>
			<div *ngIf="!leadDetails" class="mt-5 please-data text-center">Please Wait...</div>
		</div>
	</kt-portlet-body>
</kt-portlet>
