<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="goback" (click)="goBack()">
			<img src="./assets/media/icons/backBtn.svg" alt="">
			<span>Back</span>
		</div>
		<form>
			<div class="form-group">
				<div class="row">
					<div class="col-lg-12">
						<div class="form-item">
							<label for="title" class="label">Status</label>
							<select (change)="passSocial($event)">
								<option value="facebook">Facebook</option>
								<option value="twitter">Twitter</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row" *ngIf="ssocial === 'facebook'">
					<div class="col-lg-12">
						<div class="form-item slide-in">
							<label class="label">facebook APP ID</label>
							<input type="text" placeholder="Enter Facebook developer" name="appID" [(ngModel)]="appID">
						</div>
					</div>
				</div>
				<div class="row" *ngIf="ssocial === 'twitter'">
					<div class="col-lg-12">
						<div class="form-item slide-in">
							<label class="label">Customer key</label>
							<input type="url" placeholder="Enter customer key" name="customerKey" [(ngModel)]="customerKey">
						</div>
					</div>
				</div>
				<div class="row" *ngIf="ssocial === 'twitter'">
					<div class="col-lg-12">
						<div class="form-item slide-in">
							<label class="label">Customer secret</label>
							<input type="url" placeholder="Enter customer secret" name="customerSecret" [(ngModel)]="customerSecret">
						</div>
					</div>
				</div>
				<div class="row" *ngIf="ssocial === 'twitter'">
					<div class="col-lg-12">
						<div class="form-item slide-in">
							<label class="label">Callback URL</label>
							<input type="url" placeholder="Enter callback URL" name="customerSecret" [(ngModel)]="callbackUrl">
						</div>
					</div>
				</div>
			</div>
			<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
				(close)="onAlertClose($event)">
				Oops! Form is not filled correctly. Change a few things up and try submitting again.
			</kt-alert>
			<div class="form-submit mt-3 mb-4">
				<button class="reset" (click)="reset()">Reset</button>
				<button class="submit" (click)="onSubmit()">Submit</button>
			</div>
		</form>
	</kt-portlet-body>
</kt-portlet>
