<div class="container">
	<div class="row">
		<div class="col-xl-12">
			<!-- <div class="text-center h5">Account details</div> -->
			<!-- <div class="contact-body" *ngIf="userDetails">
				<div class="item-details maxed p-4 mt-5">
					<table class="ml-5 details-table">
						<tr class="each-data" *ngIf="userDetails.name">
							<td class="label">Name</td>
							<td class="value status">
								<span class="plain">{{ userDetails.name }}</span>
							</td>
						</tr>
						<tr class="each-data" *ngIf="userDetails.admin">
							<td class="label">Role</td>
							<td class="value status">
								<span class="plain">Admin</span>
							</td>
						</tr>
						<tr class="each-data" *ngIf="userDetails.head && !userDetails.admin">
							<td class="label">Role</td>
							<td class="value status">
								<span class="plain">H.O.D</span>
							</td>
						</tr>
						<tr class="each-data" *ngIf="userDetails.email">
							<td class="label">Email</td>
							<td class="value">{{ userDetails.email }}</td>
						</tr>
						<tr class="each-data" *ngIf="userDetails.comapny">
							<td class="label">Company</td>
							<td class="value">{{ userDetails.company }}</td>
						</tr>
						<tr class="each-data" *ngIf="userDetails.phoone">
							<td class="label">Phone</td>
							<td class="value">{{ userDetails.phone }}</td>
						</tr>
						<tr class="each-data">
							<td class="label">Created On</td>
							<td class="value">{{ userDetails.created_at | date: 'fullDate' }}</td>
						</tr>
						<tr class="each-data">
							<td class="label">Date of birth</td>
							<td class="value">{{ userDetails.updated_at | date: 'fullDate' }}</td>
						</tr>
					</table>
				</div>
				<div *ngIf="!userDetails" class="mt-5 please-data text-center">Please retry...</div>
			</div> -->

			<div class="mt-4 mb-5 profile-data">
				<div class="biz-title text-center">Account details</div>
				<div class="biz-underline mx-auto mb-5"></div>
				<div class="profile-card" *ngIf="userDetails">
					<div class="profile">
						<img src="./assets/media/icons/user.svg" alt="">
						<div class="name" *ngIf="userDetails.name">{{ userDetails.name }}</div>
						<div class="address" *ngIf="userDetails.head && !userDetails.admin">H.O.D</div>
						<div class="address" *ngIf="userDetails.admin">Admin</div>
						<!-- <div class="title text-center mt-5">Description</div>
						<div class="description mt-1"></div> -->
					</div>
					<div class="details">
						<div class="each-details" *ngIf="userDetails.email">
							<img src="./assets/media/icons/email.svg" alt="">
							<span>{{userDetails.email}}</span>
						</div>
						<div class="each-details" *ngIf="userDetails.phone">
							<img src="./assets/media/icons/call.svg" alt="">
							<span>{{userDetails.phone}}</span>
						</div>
						<div class="each-details" *ngIf="userDetails.company">
							<img src="./assets/media/icons/website.svg" alt="">
							<span>{{userDetails.company}}</span>
						</div>
						<div class="each-details">
							<img src="./assets/media/icons/views.svg" alt="">
							<span>{{userDetails.dob | date: 'fullDate'}}</span>
						</div>
						<!-- <div class="each-details">
							<img src="./assets/media/icons/call.svg" alt="">
							<span></span>
						</div> -->
					</div>
				</div>
			</div>


			<div class="profile-btn">
				<div class="details-action edit text-center" routerLink="/strada/users/manage/{{ userId }}">
					<img src="./assets/media/icons/details-edit.svg" alt="">
					<span>Edit</span>
				</div>
			</div>
		</div>
	</div>
</div>
