<kt-portlet>
	<kt-portlet-header [title]="pageTitle" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<div class="details-action edit text-center" routerLink="/strada/calls/devices/manage/{{deviceId}}">
				<img src="./assets/media/icons/details-edit.svg" alt="">
				<span>Edit</span>
			</div>
			<div class="details-action delete text-center" (click)="onDelete()">
				<img src="./assets/media/icons/details-delete.svg" alt="">
				<span>Delete</span>
			</div>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
			<div class="goback" (click)="goBack()">
					<img src="./assets/media/icons/backBtn.svg" alt="">
					<span>Back</span>
				</div>
		<div class="contact-body" *ngIf="deviceDetails">
			<div class="item-details maxed pt-0">
				<table class="ml-5 details-table">
					<tr class="each-data">
						<td class="label">Name</td>
						<td class="value status">
							<span class="plain">{{ deviceDetails.name }}</span>
						</td>
					</tr>
					<tr class="each-data">
						<td class="label">Device</td>
						<td class="value">{{ deviceDetails.device_id }}</td>
					</tr>
					<tr class="each-data">
						<td class="label">Phone Number</td>
						<td class="value">{{ deviceDetails.phone }}</td>
					</tr>
					<tr class="each-data">
						<td class="label">Created On</td>
						<td class="value">{{ deviceDetails.created_at | date: 'medium' }}</td>
					</tr>
					<tr class="each-data">
						<td class="label">Updated On</td>
						<td class="value">{{ deviceDetails.updated_at | date: 'medium' }}</td>
					</tr>
				</table>
			</div>
			<div *ngIf="!deviceDetails" class="mt-5 please-data text-center">Please Wait...</div>
		</div>
	</kt-portlet-body>
</kt-portlet>
