<kt-portlet>
	<kt-portlet-header [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="list-ccover">
			<div class="menu">
				<div [className]="selected === 'organization' ? 'item active' : 'item'" (click)="selectMenu('organization')">
					<div class="selected">Organization details</div>
					<div class="active"></div>
				</div>
				<div [className]="selected === 'turnover' ? 'item active' : 'item'"
					(click)="selectMenu('turnover')">
					<div class="selected">Turnover</div>
					<div class="active"></div>
				</div>
			</div>
			<div class="roles-table" *ngIf="selected === 'organization'">
				<div class="role-body">
					<div class="mt-4 mb-5 profile-data">
						<div class="profile-card" *ngIf="organizationDetails">
							<div class="profile">
								<img src="{{organizationDetails.logo}}" alt="{{organizationDetails.name}}'s logo'">
								<div class="name" *ngIf="organizationDetails.name">{{ organizationDetails.name | uppercase }}</div>
							</div>
							<div class="details">
								<div class="each-details" *ngIf="organizationDetails.address">
									<span class="title">Address: </span>
									<span class="value">{{organizationDetails.address}}</span>
								</div>
								<div class="each-details" *ngIf="organizationDetails.color">
									<span class="title">Color: </span>
									<span class="value">{{organizationDetails.color}}</span>
								</div>
								<div class="each-details" *ngIf="organizationDetails.date">
									<span class="title">Date: </span>
									<span class="value">{{organizationDetails.date | date: 'fullDate'}}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="edit-btn text-center">
						<button class="primary-button" routerLink="/cdash/organizations/manage">Edit details</button>
					</div>
				</div>
			</div>
			<div class="roles-table" *ngIf="selected === 'turnover'">
				<div class="role-body">
					<div class="mt-4 mb-5 profile-data">
						<form [formGroup]="turnoverForm">
							<div class="form-group">
								<div class="row">
									<div class="col-lg-12">
										<div class="form-item">
											<label class="label">Select Currency</label>
											<select formControlName="currency">
												<option value="naira">Naira</option>
												<option value="dollar">Dollar</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-item">
											<label class="label">2020</label>
											<input type="number" placeholder="2020's turnover" formControlName="year20">
										</div>
									</div>
								</div> 
								<div class="row">
									<div class="col-lg-12">
										<div class="form-item">
											<label class="label">2019</label>
											<input type="number" placeholder="2019's turnover" formControlName="year19">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-item">
											<label class="label">2018</label>
											<input type="number" placeholder="2018's turnover" formControlName="year18">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-item">
											<label class="label">2017</label>
											<input type="number" placeholder="2017's turnover" formControlName="year17">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-item">
											<label class="label">2016</label>
											<input type="number" placeholder="2016's turnover" formControlName="year16">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-item">
											<label class="label">2015</label>
											<input type="number" placeholder="2015's turnover" formControlName="year15">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-item">
											<label class="label">2014</label>
											<input type="number" placeholder="2014's turnover" formControlName="year14">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-item">
											<label class="label">2013</label>
											<input type="number" placeholder="2013's turnover" formControlName="year13">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-item">
											<label class="label">2012</label>
											<input type="number" placeholder="2012's turnover" formControlName="year12">
										</div>
									</div>
								</div>
							</div>
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
								(close)="onAlertClose($event)">
								Oops! Form is not filled correctly. Change a few things up and try submitting again.
							</kt-alert>
							<div class="form-submit mt-3 mb-4">
								<button class="reset" (click)="reset()">Reset</button>
								<button class="submit" (click)="onSubmit()">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>
