<kt-portlet>
	<kt-portlet-header title="Accounting Analytics" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="analytics">
			<div class="analysis">
				<div class="row">
					<div class="col-xl-6">
						<div class="chart-title mt-2">
							<div class="icon expense">
								<img src="./assets/media/icons/expensecon.svg" alt="">
							</div>
							<div class="text mt-3">Expense</div>
						</div>
						<div class="chart-amount">
							<div class="value expense" *ngIf="totalExpense">&#8358;{{totalExpense | number: '.2'}}</div>
							<div class="select">
								<select [(ngModel)]="expenseYear" (change)="passExpenseYear($event)">
									<option [ngValue]="2019">2019</option>
									<option [ngValue]="2020">2020</option>
									<option [ngValue]="2021">2021</option>
									<option [ngValue]="2022">2022</option>
									<option [ngValue]="2023">2023</option>
									<option [ngValue]="2024">2024</option>
									<option [ngValue]="2025">2025</option>
								</select>
							</div>
						</div>
						<div class="expense-chart">
							<div style="display: block">
								<!-- <canvas baseChart [datasets]="expenseDataSet" [labels]="barChartLabels"
									[options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend"
									[chartType]="barChartType">
								</canvas> -->
							</div>
						</div>
					</div>
					<div class="row">
						<!-- <button class="btn btn-primary" (click)="runcurrentMonth()">Run current month</button>
						<button class="btn btn-primary" (click)="runcurrentMothExpense()">Run current month expense</button> -->
					</div>
					<div class="col-xl-6">
						<div class="chart-title mt-2">
							<div class="icon income">
								<img src="./assets/media/icons/incomecon.svg" alt="">
							</div>
							<div class="text mt-3">Income</div>
						</div>
						<div class="chart-amount">
							<div class="value income" *ngIf="totalSales">&#8358;{{totalSales | number: '.2'}}</div>
							<div class="select">
								<select [(ngModel)]="incomeYear" (change)="passIncomeYear($event)">
									<option [ngValue]="2019">2019</option>
									<option [ngValue]="2020">2020</option>
									<option [ngValue]="2021">2021</option>
									<option [ngValue]="2022">2022</option>
									<option [ngValue]="2023">2023</option>
									<option [ngValue]="2024">2024</option>
									<option [ngValue]="2025">2025</option>
								</select>
							</div>
						</div>
						<div class="income-chart">
							<!-- <div style="display: block">
								<canvas baseChart [datasets]="incomeDataSet" [labels]="barChartLabels"
									[options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend"
									[chartType]="barChartType">
								</canvas>
							</div> -->
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-6">
						<div class="each-breakdown">
							<div class="breakdown-flex">
								<div class="title">Loans Breakdown</div>
								<div class="select">
									<!-- <select [(ngModel)]="incomeYear" (change)="passIncomeYear($event)">
										<option [ngValue]="2019" selected>2019</option>
										<option [ngValue]="2020">2020</option>
										<option [ngValue]="2021">2021</option>
										<option [ngValue]="2022">2022</option>
										<option [ngValue]="2023">2023</option>
										<option [ngValue]="2024">2024</option>
										<option [ngValue]="2025">2025</option>
									</select> -->
								</div>
							</div>
							<div class="cover-details">
								<div class="tile-up">
									<div class="each-tile">Largest Loan</div>
									<div class="each-tile">Name</div>
								</div>
								<div class="others large" *ngIf="peakLoan">
									<div class="each" *ngIf="peakLoan">&#8358;{{peakLoan.amount | number: '.2'}}</div>
									<div class="each">{{peakLoan.name}}</div>
								</div>
								<div class="sub-title">Other claims</div>
								<div class="others small" *ngFor="let loan of loansBreakdown">
									<div class="each">&#8358;{{loan.amount | number: '.2'}}</div>
									<div class="each">{{loan.name}}</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6">
						<div class="each-breakdown">
							<div class="breakdown-flex">
								<div class="title">Income Breakdown</div>
								<div class="select">
									<!-- <select [(ngModel)]="incomeYear" (change)="passIncomeYear($event)">
										<option value="" selected>year</option>
										<option [ngValue]="2019">2019</option>
										<option [ngValue]="2020">2020</option>
										<option [ngValue]="2021">2021</option>
										<option [ngValue]="2022">2022</option>
										<option [ngValue]="2023">2023</option>
										<option [ngValue]="2024">2024</option>
										<option [ngValue]="2025">2025</option>
									</select> -->
								</div>
							</div>
							<div class="cover-details">
								<div class="tile-up">
									<div class="each-tile">Largest Income</div>
									<div class="each-tile">By</div>
								</div>
								<div class="others large" *ngIf="peakSale">
									<div class="each" *ngIf="peakSale">&#8358;{{peakSale.invoice_amount | number: '.2'}}
									</div>
									<!-- <div class="each">{{peakSale.contact[0].source}}</div> -->
									<div class="each">{{peakSale.contact[0].name}}</div>
								</div>
								<div class="sub-title" *ngIf="salesBreakdown">Other income</div>
								<div class="others small" *ngFor="let income of salesBreakdown">
									<div class="each">&#8358;{{income.invoice_amount | number: '.2'}}</div>
									<!-- <div class="each">{{income.contact[0].source}}</div> -->
									<div class="each">{{income.contact[0].company}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>
