<kt-portlet>
	<kt-portlet-header title="Import file (.csv)" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a routerLink="/strada/leads/manage" class="primary-button kt-margin-r-10" matTooltip="Add new lead">
				<i class="la la-plus"></i>
				<span class="kt-hidden-mobile">Create lead</span>
			</a>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="full-import">
			<label for="full-upload">
				<img src="./assets/media/icons/upload-all.svg" alt="">
			</label>
			<input type="file" id="full-upload"
				accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
				(change)="onFileChange($event)" />
				<div class="placeholder" *ngIf="!fileName">Click to upload leads</div>
		</div>
		<div class="mt-3 mb-5 file-name" *ngIf="fileName">
			{{fileName}}
		</div>
		<div class="mt-5 text-center">
			<button class="btn btn-primary btn-lg" (click)="uploadfile()">Upload</button>
		</div>
	</kt-portlet-body>
</kt-portlet>
