<kt-portlet>
	<kt-portlet-header title="All Leave Requests" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
			<ng-container ktPortletTools>
					<a routerLink="/strada/hr/leave" class="primary-button kt-margin-r-10" matTooltip="Request leave">
						<i class="la la-plus"></i>
						<span class="kt-hidden-mobile">Leave request</span>
					</a>
				</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="asset-body">
			<table class="table-view">
				<thead>
					<tr>
						<th>Title</th>
						<th>Leave start date</th>
						<th>End date</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="each-row" *ngFor="let leave of leaves">
						<td>{{leave.name}}</td>
						<td>{{leave.start | date: 'longDate'}}</td>
						<td>{{leave.end | date: 'longDate'}}</td>
						<td class="status">
								<span [className]="leave.approved ? 'approved' : 'pending'">
									{{leave.approved ? 'Approved' : 'Pending'}}
								</span>
							</td>
						<td>
							<a routerLink="/strada/hr/leave/{{leave._id}}" class="view">View</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="my-pagination mt-5 mb-4">
			<div class="pg">Page: <b>{{pageIndex + 1}}</b></div>
			<div class="btn-grp">
				<button mat-raised-button (click)="getPrev()" color="primary" [disabled]="disablePrev">Previous</button>
				<button mat-raised-button (click)="getNext()" color="primary" [disabled]="disableNext">Next</button>
			</div>
		</div>

	</kt-portlet-body>
</kt-portlet>
